[2018-04-21 15:39] Kaushik-007 opened #1 "Add the feature to UWP application also"

[2018-04-22 18:31] enisn commented on #1
I'm working on it. I'll update soon

[2018-04-24 12:25] Parmendrakumar opened #2 "Unable to Add Nuget package to my project"
I am using VS 2015 and nuget successfully install on Android and iOS but getting issue on PCL

Getting issue: Could not install package 'Xamarin.Forms.InputKit 0.9.8'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. Fo

[2018-04-27 05:59] enisn commented on #2
I think the problem is target .Net Standard version,
This package was packed on .Net Framework 4.6.1 and it targets .Net Standard 2.0+
You can try to upgrade your project target and dependencies too

[2018-05-10 06:59] #2 closed

[2018-05-13 15:20] mo-kml opened #3 "change background color of checkbox"
box background color is gray and i want to make it white with border
please add this feature to this package

![capture](https://user-images.githubusercontent.com/14197053/39968718-e744378e-56e6-11e8-945d-b3cb128fcf95.PNG)

[2018-05-14 14:59] sadhac opened #4 "How to add to existing Solution?"
Hi

Can you please advise how to add this to my existing XF solution?

Thanks

[2018-05-14 19:51] enisn commented on #4
You can add manually theese controls to your project
https://github.com/enisn/Xamarin.Forms.InputKit/tree/master/InputKit/Shared/Controls

Or you can download the NuGet Package to your project [RECOMMENDED]

https://www.nuget.org/packages/Xamarin.Forms.InputKit/

I recommend the NuGet because there are some rendererers including the package. Nuget adds them automatically your project

[2018-05-17 16:01] #4 closed, assigned to nobody

[2018-05-17 18:45] sadhac commented on #4
Thanks I have got it to work

[2018-05-17 18:46] sadhac opened #5 "Does this work with FlexLayout?"
Hi

I see this does not render correctly in FlexLayout. Is it compatible with Xamarin.Forms.3.0?

Thanks

[2018-05-17 19:05] sadhac opened #6 "Checkbox not square on 3 lines of text."
Hi

The checkboxes are not square on more than 2 lines of text.
Please see screenshot attached and let me know if this can be fixed.

Thank You
![screen shot 2018-05-17 at 21 03 40](https://user-images.githubusercontent.com/35103750/40198231-13073b5a-5a16-11e8-970d-78a8b70c1676.png)

[2018-05-18 11:25] enisn commented on #6
I'm working on it.

[2018-05-18 16:56] enisn commented on #6
It's solved,
If you type too long text in CheckBox,
It'll be look like:
<img src="https://scontent.fada1-3.fna.fbcdn.net/v/t1.15752-9/32741986_1932476210096816_1775962577394728960_n.png?_nc_cat=0&oh=14bced3f86d90e8ac323cdd796b90aed&oe=5B7733EC" height="480" />

This feature is available v.1.0.5 and above,

You can find new version from <a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit

[2018-05-18 16:59] #6 closed

[2018-05-19 10:26] sadhac commented on #6
Thank You

On 18 May 2018, at 18:59, Enis Necipoglu <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #6<https://github.com/enisn/Xamarin.Forms.InputKit/issues/6>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/enisn/Xamarin.Forms.InputKit/issues/6#event-1634730795>, or mute the thread<https://g

[2018-05-25 21:36] JADSN opened #7 "Samples"
Can you make a sample of _SelectableRadioButton_, _FormView_, _IconView_ and _AdvancedEntry_ ?

[code]

In code above, the label doesn't change the item or value(using Path=SelectedItem) when check other RadioButton in same group.

[2018-05-26 08:00] enisn commented on #7
I think It does not trigger bindable property in source code, I'm working on,

For the first question, formview is not stable yet, it will help validating inputs easily,

I'll create wiki as soon as possible

[2018-05-26 08:29] enisn commented on #7
I've just updated to v.1.0.9,
BindableProperty addded to SelectedItem, SelectedItemChanged event and SelectedItemChangedCommand command added to RadioButtonGroupView

[2018-05-30 12:59] sadhac opened #8 "Change Border Color and remove Border Corner from SelectionView"
Hi

Is there a way to remove the border Corner, have a rectangle box for Selection View.
I also want to set the text alignment to Left justification and set the default border color to gray. If the user selects one of the views the color should change to another color.
Please advise.

Thank You

[2018-05-31 10:21] enisn commented on #8
I'll add that properties soon, SelectionView uses default buttons, and background color is Device's Accent Color.

Color Options and border option will be added.

I'm working on it

[2018-06-07 20:48] enisn commented on #8
I've added the features to package, but unfortunately I have some troubleshoots with packaging for nuget.

[2018-06-08 14:00] himanshudwd765 opened #9 "Dynamically add radio button"
How can I dynamically generate list of radio button

[2018-06-08 14:33] enisn commented on #9
You can use **SelectionView** to generate that. Just set SelectionType to RadioButton, and you can set ColumnNumber 1,

[2018-06-09 08:50] himanshudwd765 commented on #9
Thanks, it works

[2018-06-09 08:50] #9 closed

[2018-06-09 23:44] enisn commented on #7
@JADSN  I have just started generate Wiki content of Package inside Wiki Tab [Wiki Tab](https://github.com/enisn/Xamarin.Forms.InputKit/wiki).

[2018-06-12 05:13] sadhac commented on #8
Thanks Enisn

[2018-06-12 05:14] #8 closed

[2018-06-12 18:22] Chuckle999 opened #11 "MVVM"
I've tried using this with MVVM, using EventToCommand functionality but... to no avail.  How?

[2018-06-16 12:28] enisn commented on #11
I couldn't understand the question,

For example you have a checkbox and you need to handle when user tap on it and changed check situation.

XAML

[code]

CS:
[code]

[2018-06-18 04:57] Chuckle999 commented on #11
Thanks for the response.

So I'm trying to implement the control in an MVVM based app in the ViewModel, the example you show is in the CodeBehind.

[2018-06-18 05:08] Chuckle999 commented on #11
I probably haven't explained what I'm trying to do properly - what I'm really looking for is a way to catch when the control is toggled either on or off.

[2018-06-18 06:48] enisn commented on #11
Just bind your property to control's bindableproperty, it'll trigger **SET** method of property with value. You can handle changes in set methods of your properties. If you can share your code I can help you easier

[2018-06-20 16:57] #11 closed

[2018-06-26 07:44] Chuckle999 commented on #11
Would just like to mention that my question was not specific enough, and that **I have managed to resolve**: the problem I was having was binding the CheckBox command inside a ListView.  Thankyou for your help!

[2018-07-02 19:18] josebarrontovar commented on #7
How do I get the value each time I slide the slider?
  Value = "{Binding Path = Status, Mode = TwoWay}" // XAML

  public double Status {get; set; }
         public MainPage ()
{// CODEBH
             var x = this.Status;
}

Greetings.

[2018-07-02 19:19] josebarrontovar opened #12 "Value each time I slide"
How do I get the value each time I slide the slider?

Value = "{Binding Path = Status, Mode = TwoWay}" // XAML

  public double Status {get; set; }
         public MainPage ()
{// CODEBH
             var x = this.Status;
}

Greetings.

[2018-07-03 06:29] enisn commented on #12
I'm working on it, I'll update soon as possible

[2018-07-04 14:52] enisn commented on #12
I've tested on 1.1.0 version and it triggers set method.
Do you need continuously sets instead of last value set ?

[2018-07-04 15:08] josebarrontovar commented on #12
Yes, when i move the slider, i want to know exactly value of slider :)

[2018-07-05 10:44] TizioFittizio opened #13 "No property, bindable property, or event found for 'ClickCommand', or mismatching type between value and property."
I got an error while trying to bind a command in a radio button:

This is my code:

I import the plugin:
`xmlns:controls="clr-namespace:Plugin.InputKit.Shared.Controls;assembly=Plugin.InputKit"`

I wire my viewmodel:
`BindingContext="{Binding FiltersViewModel, Source={StaticResource Locator}}`

This is the element which i am trying to add the command:
[code]

The line where the error occours:
`Cli

[2018-07-05 11:32] Trostan commented on #13
I got exactly the same Problem.

[2018-07-07 11:51] enisn commented on #13
There is a missing BindableProperty for ClickCommand. There was a mistake. I've just solved it and updated NuGet Package.

It's available above v.1.1.1 on Nuget from <a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/1.1.1">here</a>

[2018-07-07 11:51] #13 closed

[2018-07-10 13:29] muhammetsahin opened #14 "RadioButtonGroupView IsChecked/Value Bindable Property not working"
I'm using version 1.1.1

Here is my XAML code

      <input:RadioButtonGroupView SelectedItem="">
        <input:RadioButton
          IsChecked="{Binding RbCradle, Mode=TwoWay}"
          Text="Cradle"
          TextColor="Black" />
        <input:RadioButton
          IsChecked="{Binding RbWireless, Mode=TwoWay}"
          Text="Wireless"
          TextColor="Black" />
      </input:RadioButtonG

[2018-07-10 18:12] enisn commented on #14
I think there is a missing trigger inside RadioButton. Can you try to bind **RadioButtonGroupView**'s **SelectedIndex** property for now. I'l solve that problem soon as possible.

[2018-07-10 22:20] enisn commented on #14
That bug was fixed with v.1.2.0. You can bind **IsChecked** property for **RadioButton** with **Mode=TwoWay** and it'll send the last state to your viewmodel.

You can find v.1.2.0 from <a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/1.2.0"> here</a>

[2018-07-10 22:21] #14 closed

[2018-07-10 22:23] enisn commented on #12
That bug was fixed.
Tested on **v.1.2.0** and it works fine now.
You can find newest version from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit)

[2018-07-10 22:23] #12 closed

[2018-07-10 22:31] enisn commented on #3
Finally border support added the nuget package in **v.1.2.0** and above.

I think your desire is can be obtain with:

[code]

And it'll be look like:

<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.15752-0/p280x280/36975132_2003658502978586_1393598290620055552_n.png?_nc_cat=0&oh=d91ff852db64d6b16ee99c5949d26042&oe=5B46F9FB" height="500"/>

[2018-07-10 22:31] #3 closed

[2018-07-11 14:01] muhammetsahin commented on #14
Thank you for support. Problem solved.

Best Regards.

[2018-07-16 08:57] Marium-Hashmi opened #15 "Add a label to RadioButtonGroupView"
How to add a label to RadioButtonGroupView?

<input:RadioButtonGroupView>
                   <Grid>
                    <Grid.ColumnDefinitions>
                        <ColumnDefinition Width="*"></ColumnDefinition>
                        <ColumnDefinition Width="*"></ColumnDefinition>
                    </Grid.ColumnDefinitions>
                    <input:RadioButton Text="Option 1" CircleColo

[2018-07-16 11:51] enisn commented on #15
If you need a grid with multiple columns you can use **SelectionView**

[code]

and you can set ItemsSource like:

[code]
It'll look like 3 column Radio Buttons or how many column you want.
You can reach selected item with **SelectecItem** property of SelectionView

[2018-07-16 12:15] enisn commented on #15
@Marium-Hashmi
You can put any control inside of RadioButtonGroupView

[code]

It'll recognize only radiobuttons. Other buttons won't be affected

[2018-07-16 15:48] Marium-Hashmi commented on #15
Thank you for the response.
The first response would give me three columns of radio buttons (I want one column of radio button with labels in second column).
What I want is this:
(radiobutton) Large           Price
(radiobutton) Small           Price

"It'll recognize only radiobuttons. Other buttons won't be affected"
this is not the case if i use gird inside radiobuttongroupview.

Thanks in adva

[2018-07-16 16:07] enisn commented on #15
If you want column view you can use selectionview, its easy way,

Try that:

[code]

<img src="https://scontent.fbtz1-1.fna.fbcdn.net/v/t1.15752-9/37258911_2012621642082272_1594158548785299456_n.png?_nc_cat=0&oh=4c1914b7b23a56fc942fa0ef9938c66b&oe=5BD3AC26" height="480" />

SelectedItem will return you "Small Price" as string.

---

Or you can bind ItemsSource for dynamic selections.

[2018-07-17 06:41] Marium-Hashmi commented on #15
Thank you, I got it now.
One more thing
while using
public RadioButton(object value, string displayMember, bool isChecked = false);
to create a radio button, it shows result as follow:

![image](https://user-images.githubusercontent.com/33281835/42800680-42f0d5e0-89b6-11e8-9824-304a4cb5c762.png)

[2018-07-17 11:35] enisn commented on #15
displayMember parameter means property name to display.
For example you have an class like that:

[code]

And when creating RadioButton:

[code]

It'll display T-Shirt.

[2018-07-17 11:53] Marium-Hashmi commented on #15
Thanks a lot for all your help 👍

[2018-07-17 17:17] #15 closed

[2018-07-17 18:32] #7 closed

[2018-07-25 11:39] ErBhautik opened #16 "RadioButton Property "Value" bind Xamarin.Forms.Binding."
## My Question Here?
How to bind some value to RadioButton property Value.

### Also I tried that:
Whenever I bind something to value property it will always bind Xamarin.Forms.Binding object.
On Clicked or ClickCommand in Value property always get  Xamarin.Forms.Binding object

[code]

[2018-07-25 21:00] enisn commented on #16
If you need bind selection you can use IsChecked:

[code]

<hr />
### Or

If you need result from a list you can use like that:

[code]

And XAML:

[code]

You'll get SelectedIntex to your Hobby property.

<hr />
###  Or

If you need ask selection from dynamic list you can use [SelectionView](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/SelectionView).
There is a sample for dynamic radio b

[2018-07-27 20:34] enisn commented on #16
**CommandParameter** added to **RadioButton**, You can set the parameter now. If you don't set CommandParameter, It'll send autmaticly **Value** property as CommandParameter.
It was itself of RadioButon before, fixed.

It's available on v.2.0.5 and you can find that version from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.0.5)

[2018-07-27 20:34] #16 closed

[2018-07-28 16:51] sirwes opened #17 "CheckBox Check Changed Event"
A feature to do something whenever a checkbox is unchecked or checked would be really nice. I see you have a CheckChangedCommand, but I don't think it's what I'm looking for. Correct me if I'm wrong.

I'm thinking it'd be something like this:
In the Xaml:
\<CheckBox x:Name="MyCheckBox" CheckChanged="MyFunction"/>

In the code:
...
public void MyFunction(object sender, EventsArgs e)
{
    print("Ch

[2018-07-29 08:07] enisn commented on #17
You can do something like that:

[code]
Events work basicly, and they don't sends custom EventArgs to methods.

It's more compatible to use with MVVM.

**ClickCommand** sends itself of CheckBox as CommandParameter to your ViewModel.

[2018-07-30 15:07] sirwes commented on #17
I understand. Thanks for the help!

[2018-07-30 15:07] #17 closed

[2018-07-31 11:22] charcoalditto opened #19 "checkbox kanda CheckType.Box can not change the Color"
**Expected behavior**
inner box's color should be black

**Screenshots**
<img width="498" alt="2018-07-31 8 21 55" src="https://user-images.githubusercontent.com/26886129/43456699-70949dca-94ff-11e8-8fea-f41ad8974534.png">

**Smartphone (please complete the following information):**
 - Device: android virtual device
 - OS: Oreo, Api 27
 - Browser
 - Version

[2018-07-31 12:09] enisn commented on #19
Can I see your XAML code,

I think a bindable property does not trigger other, try change order properties like:

from:

Type="Check"
Color="Blue"

To:

Color="Blue"
Type="Check"

I'll fix that problem on newer versions.

[2018-07-31 12:11] enisn commented on #19
If you use same color in all your app,
You can try this:

in you **App.cs**

[code]

It'll be applied all the CheckBoxes

[2018-07-31 19:24] #19 closed, assigned to nobody

[2018-08-01 05:48] ErBhautik commented on #16
Thanks

[2018-08-01 14:14] DeanoMartino opened #21 "AdvancedEntry cannot be changed from AnnotationType.Password to a different value"
Setting AnnotationType on AdvancedEntry to 'Password' will effectively hide the contents of the entry with black dots but if you change the AnnotationType at runtime to a different value, the entry contents remain as black dots.

Envision a scenario where the AdvancedEntry is used to enter a password and the AnnotationType property is data-bound with a default value of Password.  The user taps an

[2018-08-01 14:41] enisn commented on #21
It'll be fixed

[2018-08-01 22:16] enisn commented on #21
It was solved at[ v.2.1.0 Material Base Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.1.0).
You can find on Nuget v 2.1.0 version from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.1.0)

[2018-08-01 22:16] #21 closed

[2018-08-02 15:12] DeanoMartino opened #22 "AdvancedEntry needs a few more bindings and events"
AdvancedEntry:  needs bindings for IsRequired and ValidationMessage properties.
AdvancedEntry:  needs a TextChanged event.

[2018-08-02 15:35] enisn commented on #22
They'll be added as soon as possible.

[2018-08-03 11:28] enisn commented on #22
They added at [v.2.2.0](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.2.0) release,

You can find changelog from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.2.0)

[2018-08-03 11:28] #22 closed

[2018-08-03 19:21] DeanoMartino opened #23 "Dropdown needs binding for AnnotationColor"
These are really nice controls and I appreciate the on-going maintenance.  I've noticed the AdvancedEntry control has a binding for AnnotationColor but the Dropdown does not.  Can this be added?  Thanks!

[2018-08-04 06:13] enisn commented on #23
Dropdown is  a new control. I couldn't completed yet, It's like a demo. I'll add much more bindable Properties as soon as possible

[2018-08-04 09:53] enisn commented on #23
@DeanoMartino

**AnnotationColor** and much more **BindableProperties** added on [v.2.2.1 release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.2.1).

Nuget version is [here ](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.2.1)too.

Have a nice work. 👍

[2018-08-04 09:53] #23 closed

[2018-08-06 05:52] montehansen opened #24 "Type in the subtitle =]"
## FYI
You have a typo in your subtitle:

[2018-08-07 08:03] yudiz-mahavir opened #25 "Checkbox have unwanted shadow on iOS"
**Bug** : Checkbox shows unwanted shadows around them

**To Reproduce** : Happens everytime on iOS

**Expected behavior** : There should be no shadow or an option to toggle shadow

**Smartphone (please complete the following information):**
 - Device: iPhone 5c
 - OS: iOS 10.3.3
 - InputKit Version : 2.2.1

**Screenshot**
![shadow issue](https://user-images.githubusercontent.com/11229222/43759789-

[2018-08-07 08:41] enisn commented on #25
I think it happens by Framerenderer when the background is Transparent,
I'll solve that problem as soon as possible,

[2018-08-07 08:52] yudiz-mahavir commented on #25
here is my code :
`  <input:CheckBox Text="{Binding LabelItem}" TextFontSize="14" Type="Check" BackgroundColor="Transparent" Color="{StaticResource YetiBlue}" BorderColor="{StaticResource YetiBlue}" />`

[2018-08-08 08:32] enisn commented on #25
@yudiz-mahavir

It is solved at [v.2.2.2 release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.2.2).

You can find new version on Nuget from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.2.2)

[2018-08-08 08:32] #25 closed

[2018-08-08 09:42] enisn commented on #24
It's just fixed

[2018-08-08 09:42] #24 closed

[2018-08-09 10:16] toyins46 opened #26 "SelectionView - SelectedIndex & SelectedIndexes Properties needed"
SelectedIndex Bindable property is needed for the RadioButton
SelectedIndexes Bindable property is needed for the CheckBoxes.

[2018-08-15 04:05] giapgk2525 opened #27 "Radio + checkbox can customize font and size?"

[2018-08-15 06:17] enisn commented on #27
Checkbox has **TextFontSize** and **FontFamily** properties for that,

RadioButton has  **TextFontSize** and **FontFamily** too.
By the way
You can use BoxSizeRequest to size ChechBox size

[2018-08-15 06:42] giapgk2525 commented on #27
Ok, thank for reply.

[2018-08-15 06:42] #27 closed

[2018-08-19 22:24] LeoJHarris opened #28 "Dropdown Title - Text size"
Hi not sure if its possible but couldnt find a property on the label for the drop down to change the title text size... Can consider exposing this property on the label?

[2018-08-20 01:52] enisn commented on #28
I'll work on it as soon as possible 👍

[2018-08-20 01:53] LeoJHarris commented on #28
Thanks, great work on the plugins btw :)

[2018-08-27 06:13] LeoJHarris opened #29 "Drop down selected item changed - get Selected Value"
Hi again, I see you have a SelectedItem on the dropdown, is there some event that can be invoked when a user selects an option from the dropdown list and then check the SelectedItem perhaps in a event?

[2018-08-27 20:32] LeoJHarris commented on #29
Working:

`SelectPaymentDropDown.ValidationChanged += (s, e) =>
                {
                    if (s is Dropdown dropdown && dropdown.ItemsSource?.Count >= 1)
                    {
                        if (dropdown.SelectedItem.ToString() == "New Card")
                        {
}
}
}`

[2018-08-28 22:50] LeoJHarris commented on #29
That would be appreciated

[2018-08-29 15:55] stewartsims opened #30 "'Editable' Drop Down"
**Describe the solution you'd like**
A drop-down which has a property 'Editable' which when set to true would allow the user to enter their own text value. Essentially this would make the component a hybrid between a drop-down / picker and an entry.

[2018-08-29 17:40] enisn commented on #30
It's Perfect idea 💡👌
After completely iOS implementation I'll do it.

[2018-09-01 13:57] thinkaboutcsharp opened #31 "Dropdown occurs ArgumentOutOfRangeException"
I want to use Dropdown, but I got ArgumentOutOfRangeException when choose item from dropdown list. Tap Dropdown control, shown dropdown list, tap item in that list, occurs exception.
I cannot find my bugs. Please tell me solution.

I tried Xamarin.Forms.Picker using same ItemsSource and SelectedItem binding. I succeeded.
I set two items in dropdown list, which item, I got same result.
I tried chan

[2018-09-02 07:44] enisn commented on #31
@thinkaboutcsharp
Everything looks normal. I'm trying the same situation with same codes with you.

[2018-09-02 08:10] thinkaboutcsharp commented on #31
@enisn
Thank you. I still cannot find solution.
Possibly my environment is something wrong, I pushed full solution at
https://github.com/thinkaboutcsharp/TacDev/tree/master/XamarinStudy2
I'm trying on iOS simulator. I don't use Android.

Macbook Air (High Sierra)
Visual Studio Community 2017 for Mac 7.6.3
Simulator Version 10.0
Xamarin.Forms.InputKit 2.2.2

[2018-09-03 16:54] enisn commented on #30
@stewartsims Dropdown has **IsEditable** property now with [v.2.3.0 Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.0). You can get users custom input via **Text** property of Dropdown.

Nuget is Avalable [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/).

[2018-09-03 16:54] #30 closed

[2018-09-03 16:56] enisn commented on #26
@toyins46  Finally SelectionView has SelectedIndexes now with [v.2.3.0 Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.0).

Nuget is available [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/).

[2018-09-03 16:56] #26 closed

[2018-09-04 19:15] toyins46 commented on #26
Thanks Enis.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Enis Necipoglu <notifications@github.com>
Sent: Monday, September 3, 2018 12:56:26 PM
To: enisn/Xamarin.Forms.InputKit
Cc: toyins46; Mention
Subject: Re: [enisn/Xamarin.Forms.InputKit] SelectionView - SelectedIndex & SelectedIndexes Properties needed (#26)

@toyins46<

[2018-09-09 01:57] mxstudios opened #32 "Dropdown selection not working on a modal page in iOS"
When the page that the dropdown is on a page that is modal, an error is thrown when selecting an item. The reason is that it is not finding the topmost view controller.

I fixed this by changing  line 35 in MenuEffect.cs:

RootController = UIApplication.SharedApplication.KeyWindow.RootViewController;

to:

 RootViewController = GetVisibleViewController();

And added this function:

[code]

**Addit

[2018-09-09 02:05] mxstudios opened #33 "Change Icon view to support using Images.xassets"
**Is your feature request related to a problem? Please describe.**
When I used an image that is in the Resources/Images.xassets, it threw an error that it was not found.

**Describe the solution you'd like**
The reason for this is that it is using a fileimageSource when the image is instantiated with this on line 70 of IconViewRenderer.cs:

`var uiImage = new UIImage(Element.Source)`

To allow the

[2018-09-09 02:17] mxstudios commented on #31
I was getting this error because the Index being passed to the SelectedItem delegate was always the size of the array, which is 1 higher than the last index. NO matter which Item i chose, it came back with a value of 1 higher than the last index. I am not sure if this is your problem, but I fixed by just not using the index. This might have been because of a change I made though.

Line 82 of Dropd

[2018-09-09 09:47] thinkaboutcsharp commented on #31
Thank you. It appears that iOS has some mystery. In fact, I got new type of error...

At first, I resolved one error. On iPhone Simulator, I need "ObjCRuntime.Class.ThrowOnInitFailure = false;" statement for escape exception "System.Exception: Could not initialize an instance of the type 'UIKit.UIImage': the native 'initWithContentsOfFile:' method returned nil.". I tried adding "36pt arrow_down.pn

[2018-09-09 10:16] enisn commented on #32
@mxstudios
Thank you for your contribution. I'm fixing it immediately.

[2018-09-09 16:09] mxstudios commented on #31
**_System.InvalidOperationException: Enumeration has either not started or has already finished._**

@thinkaboutcsharp , this is the error I fixed by replacing the code in my [comment](https://github.com/enisn/Xamarin.Forms.InputKit/issues/31#issuecomment-419685720) above with the foreach loop.

I have no idea why it was happening so rather than figure it out I just changed it to alternative.

[2018-09-09 16:33] enisn commented on #33
@mxstudios thanks for your contribution. 👍
I'm updating the NuGet Package too, as soon as possible.

[2018-09-09 16:35] enisn commented on #33
@mxstudios About netstandard 2.0 support,

I can not pack for lower netstandard versions for nuget. Which netstandard version are you using?
I can try support it too

[2018-09-09 16:53] mxstudios commented on #33
@enisn , don't worry about it. This project I am doing is using a PCL, which doesn't support some of the code you used. Also, I made some other custom changes that I needed to the validation stuff and UI. There were errors using "Any" and "All" string extensions in the Annotations and had to change that too. I am not sure if issues I am having are because of not using netstandard.

No matter what

[2018-09-09 16:54] thinkaboutcsharp commented on #31
Thank you. Probably nobody knows its reason...(but Xamarin team?)
I will search another way. But maybe I use some controls in this package except Dropdown. I want to release app for iOS.
I hope that problem will be solved someday!

[2018-09-09 16:58] mxstudios commented on #28
@enisn,

I also need this and may do it today. If you haven't started it, I can send you the code if I complete it. I also am working on setting the placeholder color to match the entry view, since you are actually simulating a placeholder.

[2018-09-12 09:10] devinZhou102 opened #34 "Dropdown cause crash in android5.0"
**Dropdown cause crash in android5.0**
In Android5.0 Dropdown cause crash, the exeption is

[2018-09-13 05:47] devinZhou102 commented on #34
1. use MonoAndroid81
2.  two ways to solve this issue
    a. if use Android.Widget.PopupMenu andandroid version lower than 6.0, do not set Gravity
    `if (OS.Build.VERSION.SdkInt >= OS.BuildVersionCodes.M)
     {
         popup.Gravity = GravityFlags.Right;
     }`
     b. use Android.Support.V7.Widget.PopupMenu

[2018-09-13 16:38] enisn commented on #34
I can not build multi-targeting proje after Visual Studio last update, I'll update pluging when I solve that problem too.

[2018-09-14 04:34] LeoJHarris commented on #28
@mxstudios Go for Gold I say :)

[2018-09-14 05:36] thinkaboutcsharp commented on #31
I tracked error. I met one question.
Because of some dependency, I cannot build solution on my environment. So I cannot try debug or do pull request.

I found this.
From MSDN Collection<T>.GetEnumerator()
"Initially, the enumerator is positioned before the first element in the collection. At this position, Current is undefined. Therefore, you must call MoveNext to advance the enumerator to the fir

[2018-09-14 07:11] devinZhou102 opened #36 "Dropdown cause crash in iOS"
**Dropdown cause crash in iOS**
After making a selection in dropdown, it cause the exception :

[2018-09-15 06:09] thinkaboutcsharp commented on #31
#36 is same reason?

[2018-09-15 19:13] mxstudios commented on #31
I am getting same error when I try and build. @enisn? Any Idea?

[2018-09-19 03:36] LeoJHarris commented on #28
@enisn Still planning on adding the feature..? Any ETA?

[2018-09-19 06:16] devinZhou102 commented on #34
@enisn I meet another question after change  Android.Widget.PopupMenu to  Android.Support.V7.Widget.PopupMenu,

It's work well while using Android.Widget.PopupMenu .
So I try Android.Support.V7.Widget.PopupMenu in Xamarin.Android, it works well too.
I get confused!
do you meet this issue?

[2018-09-21 06:43] enisn commented on #28
I can not Build project anymore. I tried remote server to build but it didn't affect. I'm waiting support from MsBuild. If I can build the project, I'll update nuget, too

[2018-09-21 08:53] rredoh opened #37 "Horizontal RadioButton"
When I try to make RadioButton displayed horizontally, it work like CheckButton..
Small reproduction
RadioButton Broken :
[code]

Working normally but stay vertical :
[code]

[2018-09-21 10:37] enisn commented on #37
I think same with: #15

You can use SelectionView instead of using grid:
Theese can help:
- [Add a label to RadioButtonGroupView](https://github.com/enisn/Xamarin.Forms.InputKit/issues/15#issuecomment-405299418)
- [Adding dynamicly RadioButtons](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Adding-dynamicly-RadioButtons) on WiKi

[2018-09-21 10:42] enisn commented on #34
@devinZhou102  I've tested and got same error. I'm trying Build & Publish right now. I can not release new version because of monodroid and Xamarin.iOS dependencies. When I solved build problem, I'll look again that problem.

[2018-09-21 10:55] enisn commented on #31
You need to implement **Plugin.CurrentActivity** into your project first. Then try install InputKit.
You can find from [here ](https://github.com/jamesmontemagno/CurrentActivityPlugin)CurrentActivity Plugin by James Montemagno.

[2018-09-21 11:41] enisn commented on #34
New version [v.2.3.1](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.1) released.
You can find changelog from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.1).

That problem solved at v.2.3.1 and above.

You can find it [here ](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.1)on Nuget

[2018-09-21 11:41] #34 closed

[2018-09-21 12:01] enisn commented on #1
Finally UWP Supported on [v.2.3.1 Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.1)

[2018-09-21 12:01] #1 closed

[2018-09-21 12:30] enisn commented on #37
@rredoh does it help ?  or I can support to your code.

[2018-09-21 12:36] enisn commented on #37
@rredoh I suggest you to use **[SelectionView](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/SelectionView)** but you can try another method.
I'm not sure will it help you but you can try also:

[code]

[2018-09-21 14:56] devinZhou102 commented on #34
@enisn Hi, that's unlucky, the new version crashes with the exception:

Java.Lang.RuntimeException: Failed to resolve attribute at index 6

Now  I don't have any idea to solve it ,but change Android.Support.V7.Widget.PopupMenu to Android.Widget.PopupMenu

[2018-09-22 00:09] thinkaboutcsharp commented on #31
@enisn Thank you. But is not my need. I'll tell you correct, sorry.
I mean that I pulled InputKit source from here(GitHub) and for analyze I tried to build InputKit solution. but I met that dependency error so I cannot do.
My solution can build and run, but causes InvalidOperationException. Then I read InputKit source, I found one question. So I want to try to add line "Current" call. Result, I go

[2018-09-22 04:44] rredoh commented on #37
Works like a charm..
Very fast response and very nice kit..:)
Thank you very much for making my life easier :)

[2018-09-22 04:45] #37 closed

[2018-09-22 09:39] thinkaboutcsharp commented on #31
FYI
I still get InvalidOperationException at 2.3.1.

[2018-09-24 08:45] enisn commented on #33
@mxstudios
By the time if **Source** is a link. What happend with `UIImage uiImage = UIImage.FromBundle(Element.Source);`

[2018-09-27 13:45] thinkaboutcsharp commented on #31
I have searching other products matching my usage, but I don't find. I know that if I want, make myself. That said, here is a solution. What can I do?

[2018-09-27 23:22] LeoJHarris opened #39 "Version 2.3.1 throwing exception: Android.Views.InflateException"
New version 2.3.1 is throwing exception:

Android.Views.InflateException: Binary XML file line #14: Failed to resolve attribute at index 1: TypedValue{t=0x2/d=0x7f0100a0 a=-1}

Having rolled back to version 2.3.0 issue went away.

Latest Xamarin.Forms 3.2.0.839982.

Target android Version 9.0 (28)
Min Android Version 5.0 (21)
Compile using Android Version 9.0 (28)

Device API is 7.1.1

[2018-09-27 23:42] LeoJHarris opened #40 "PlaceholderTextColor - Dropdown"
Drop-down component to add ability to change/customize placeholder text color beyond the light gray color it currently defaults with.

[2018-09-27 23:53] LeoJHarris opened #41 "Color property not being honored for dropdown option."
Color property not being honored for dropdown option.

When setting the color to something like Green, I keep getting the red color it defaults with. Doesn't seem to honor the Color property.

`<input:Dropdown
                Title="Chosse an option below:"
                AnnotationColor="Accent"
                BorderColor="Black"
                IconImage="icon.png"
                IsEditable="

[2018-09-28 07:48] toyins46 opened #42 "Radio Button Checked Value bahaves differently across the Platforms."
Bug: The value of the Radion Button Checked is different for iOS and Android.
When one attempts to Check a Radio Button using MVVM, the value in Android is true
and the value in iOS is false.
E.g
<controls:RadioButton x:Name="RadioButton"
                                          Color="Black"
                                          CircleColor="Orange"

[2018-09-28 08:38] enisn commented on #42
Can you try check it from **ReadioButtonGroupView**  via **SelectedItem**.

[code]

You can check if **SelectedIndex** is -1 or not if you have 1 Radio Button.

I started to look what is problem with **IsChecked**. But you can try this method until I'll find the problem.

[2018-09-28 08:38] Codeadmire opened #43 "Radio Button group not working properly inside Scrollview"
When I using Radiobuttongroup working correctly in generally but when I using inside scrollview it is not showing selection always keep unselected state only.Please find my structure using below.

The below strucure working fine
 <StackLayout >
< SelectionView SelectionType = "RadioButton" />
</StackLayout >

Not working inside Scrollview
<ScrollView>
 <StackLayout >
< SelectionView SelectionType

[2018-09-28 08:53] enisn commented on #41
@LeoJHarris
You need to use a PNG image with Alpha channels. Color will fills all pixels except alpha channels. You can use [Material Icons](https://material.io/tools/icons/?style=baseline) for better result.

You need use icons like that:
<img src="https://github.com/google/material-design-icons/blob/master/action/drawable-hdpi/ic_account_balance_black_48dp.png?raw=true" />

and if you set Color

[2018-09-28 12:12] devinZhou102 commented on #39
fixed in [pull38](https://github.com/enisn/Xamarin.Forms.InputKit/pull/38)

[2018-09-30 08:13] enisn commented on #43
Can you share your code ?
It's working in SrollView in the [sample app](https://github.com/enisn/Xamarin.Forms.InputKit/blob/master/Sample.InputKit/Sample.InputKit/MainPage.xaml#L44)

[2018-10-04 23:49] LeoJHarris opened #44 "Dropdown not working iOS: Could not initialize an instance of the type 'UIKit.UIImage'"
Hi there the Dropdown is throwing the exception when trying to display the Dropdown on iOS

System.Exception: Could not initialize an instance of the type 'UIKit.UIImage': the native 'initWithContentsOfFile:' method returned nil.

2018-10-05 12:36:04.920 XeniaGuestAppii.iOS[408:62118] [AppCenterCrashes] ERROR: +[MSWrapperLogger MSWrapperLog:tag:level:]/9 Unhandled Exception:
System.Exception: Coul

[2018-10-05 00:03] LeoJHarris commented on #44
Sorry adding the arrow_down fixed the issue must have missed that in the docs. See it now.

[2018-10-05 00:03] #44 closed

[2018-10-08 08:55] Codeadmire commented on #43
Hi @enisn ,

Sorry for the late reply. I found an issues inside `CarouselView` the

`<cv:CarouselView I>
    <cv:CarouselView.ItemTemplate>
      <DataTemplate>
<ScrollView>
<StackLayout>
< SelectionView SelectionType = "RadioButton" />
</StackLayout>
</ScrollView>
</DataTemplate>`

The above code RadioButton is showing but when I tried to selected the radio button it still maintain their same sta

[2018-10-08 11:16] enisn commented on #39
Pull #38  included on new version.

[2018-10-08 11:16] #39 closed

[2018-10-08 11:17] enisn commented on #40
@LeoJHarris  Finally **PlaceholderColor** added to **dropdown** on new version [v.2.3.3](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.3)

[2018-10-08 11:17] #40 closed

[2018-10-10 07:50] enisn commented on #41
I understand the real bug. Color doesn't affect anytime.
I'm working on it.
![Image with accent color](https://scontent.fada1-9.fna.fbcdn.net/v/t1.15752-9/43721090_340307676718274_8590238207533121536_n.jpg?_nc_cat=100&oh=17ca19f5b4ccb7960a2094ad68c9088f&oe=5C43A81E)

[2018-10-10 07:53] enisn commented on #41
It's solved now. It'll be available on v.2.3.4 and newer versions

![Xamarin Forms Dropdown with Color](https://scontent.fada1-9.fna.fbcdn.net/v/t1.15752-9/43581312_514192832382040_1100938690789638144_n.jpg?_nc_cat=102&oh=bcf242c544bb02d19f8e948e7e777e00&oe=5C17B28C)

[2018-10-10 07:58] enisn opened #45 "New Controls on V3"
I need some feedback to generate new control on V3.

**Which type of data you need to get from users?**
or
**Which controls can be added into this package on newer versions?**

[2018-10-10 10:17] enisn commented on #29
@LeoJHarris
**SelectedItemChanged** event added to Dropdown now.
It's included [v.2.3.4](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.4)

[2018-10-10 10:17] #29 closed

[2018-10-10 10:18] #41 closed

[2018-10-10 19:03] LeoJHarris commented on #45
Hi @enisn

We could add a **quantity picker** like the image below I made its all done in Forms project there is no implementation in the client projects. Currently the full label is exposed which gives access to the PropertyChanged something like this for users to get the value:

[code]

Exposed properties are Max (could add a minimum property as well). We could customize the picker further later

[2018-10-11 10:18] enisn commented on #45
@LeoJHarris  voov. There is awesome details on [EnchantedEntry](https://github.com/LeoJHarris/EnhancedEntry). We can improve annotation like that.

Also **QuantityPicker** is good idea. But i think Xamarin Forms already has it as "**Stepper**" isn't it ?

[2018-10-11 18:45] LeoJHarris commented on #45
@enisn Okay your right I'd forgot Xamarin had a stepper

[2018-10-11 19:07] enisn commented on #45
I looked again stepper but there is no label to see what is current value in stepper. It can be an advanced stepper.

[2018-10-12 06:30] enisn commented on #32
It'll be included on v.2.3.5+

[2018-10-12 06:30] #32 closed

[2018-10-15 12:05] amrkamal1993 opened #47 "how to implement flow direction RTL in placeholder in AdvancedEntry ?"
## My Question Here ?
I want to implment Flow direction RTL in placeholder in AdvancedEntry control , It doesn't work if i used it's property
### Also I tried that:

[code]

[2018-10-15 12:38] enisn commented on #47
There is no way right now, i added that to do list now. I'll add RTL support as soon as possible.
Thanks for your care.

[2018-10-21 06:38] henryyue2010 opened #48 "can't install 2.3.4 to PCL project"
Hi,
I tried to install the package to my PCL project, but got issue: Could not install package 'Xamarin.Forms.InputKit 2.3.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package a

[2018-10-21 07:04] #48 closed

[2018-10-21 07:06] henryyue2010 commented on #48
I was able to use the controls manually in https://github.com/enisn/Xamarin.Forms.InputKit/tree/master/InputKit/Shared

[2018-10-21 09:09] henryyue2010 opened #49 "the button and text in RadioButton are not vertically centered"
I am using the RadioButton in https://github.com/enisn/Xamarin.Forms.InputKit/blob/master/InputKit/Shared/Controls/RadioButton.cs

I found that the button and text are not quite vertically centered. Is it possible to improve that?

[2018-10-21 09:58] enisn commented on #48
Last build, targets netstandard2.0; MonoAndroid81; Xamarin.iOS10; and uap10.0.16299;

[2018-10-24 01:20] NightOwlCoder opened #50 "UWP CheckBox needs tap on text to toggle"
Using nuget package Xamarin.Forms.InputKit Version 2.3.4, you need to tap on the text of a combobox to make it togle.
tapping on the box does nothing.
works fine on iOS/Droid.

[2018-10-24 16:53] NightOwlCoder opened #51 "Filled Checkbox when selected?"
Hey there, thank you for this great library.
I see on the main page that you have a filled checkbox?

![checkbox](https://camo.githubusercontent.com/7aa6b380224413dc27770e8305d3d60856f17e1f/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f424c6a655a5574494442753764474d5270562f67697068792e676966)

How do I achieve the same effect?
I want this filled box when selected.

[2018-10-25 05:53] enisn commented on #51
Just set Type="Material" of Checkbox.

[2018-10-25 06:16] enisn commented on #50
@NightOwlCoder
UWP support is experimental now.
I'll work on it and v3 will support UWP fully too.

[2018-10-26 22:08] NightOwlCoder commented on #51
Just to complement information above, on iOS box is perfect.
Still not test on Droid.

[2018-10-26 22:10] NightOwlCoder opened #52 "UWP AdvancedEntry border is cut on the right corners"
Using Xamarin.Forms.InputKit version 2.3.4, a picture is better than a thousand words:

![image](https://user-images.githubusercontent.com/13557039/47594652-2f994980-d931-11e8-98a3-afe3598a6786.png)

[2018-10-28 13:08] AhmedAdelGadElkareeem opened #53 "Android Token is null"
in my android app token is always null i write these lines in my start page CrossFirebasePushNotification.Current.RegisterForPushNotifications();
string token = CrossFirebasePushNotification.Current.Token;
but always token is null

[2018-10-28 13:09] #53 closed

[2018-10-31 07:59] enisn commented on #51
UWP support is experimental. Fully UWP support will be added on v.3.x

[2018-10-31 07:59] #51 closed

[2018-10-31 08:00] enisn commented on #52
UWP support is experimental now. I couldn't test all controls. Thanks for the feedback. I'll fix it on v3

[2018-11-05 23:44] ergodaveh opened #54 "UWP Dropdown Implement not working"
I have recently tried out the latest release 2.3.4 and used the Dropdown control on UWP without success.    The control does not render or error in any manner any o the selection.
The same control as seen on Android work as expected.

[2018-11-08 22:04] antosubash opened #55 "SelectView background color applied only after selection"
How do I display a background color for all controls inside the selection view?

![screenshot_1541714349](https://user-images.githubusercontent.com/1304254/48230236-a3fccf80-e3aa-11e8-8c60-dc29241d972b.png)

[2018-11-09 19:33] enisn commented on #55
@antosubash
There is a Global Options inside SelectionView class.

Try use this code is your **App.cs** before you set **MainPage**:

[code]

All controls have GlobalSetting and it sets defaults of controls.

I think it'll solve problem. If you're using other SelectionTypes like CheckBox or RadioButton, you should set `CheckBox.GlobalSettings`

If it doesn't affect,, I can add new properties to **

[2018-11-09 22:02] antosubash commented on #55
@enisn Thanks for the info.

I have already tried it. it didn't work.

this only happens on Android. It works fine on IOS.

[2018-11-10 18:09] enisn commented on #55
OK. I'm working on it.
Thanks for your feedback 👍

[2018-11-10 22:14] antosubash commented on #55
@enisn Great.

This is how I fixed the issue for now.
[code]

[2018-11-11 17:13] enisn commented on #55
Thanks for your contribution 👍 ❤️   I'm fixing immediately!
@antosubash

[2018-11-11 19:33] enisn commented on #55
@antosubash
It was just solved with [v.2.3.5 Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.5)

You can use **BackgroundColor** property of SelectionView to set default unselected color of buttons.
Also SelectionView.GlobalSetting.BackgrounColor works to change all SelectionViews defaults too.

xaml:
[code]
cs:
[code]

Nuget is [here](https://www.nuget.org/packages/Xam

[2018-11-11 19:35] enisn commented on #49
It just improved on [v.2.3.5 Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.5)

You can find new version from Nuget to clicking [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.5).

[2018-11-11 19:35] #49 closed

[2018-11-11 20:12] antosubash commented on #55
@enisn Thanks for the quick release. I think it is not fixed properly yet.

This is not working
`SelectionView.GlobalSetting.BackgroundColor = Color.Yellow;`

When I set this.
`<input:SelectionView BackgroundColor="Yellow" />`

This is the output
![image](https://user-images.githubusercontent.com/1304254/48317692-2a592180-e5f6-11e8-8bcc-ecaf3501725d.png)

The corner is not round initial and become

[2018-11-11 21:10] enisn commented on #55
Are these 4 options in same SelectionView and Corner Radius is different ?

[2018-11-11 21:12] antosubash commented on #55
@enisn they are from the same selection view. the corner radius changes after selection.

[2018-11-11 21:19] enisn commented on #55
Can you share part of your code ?
I can't handled same problem on my test project

[2018-11-11 21:59] antosubash commented on #55
@enisn

`<controls:SelectionView x:Name="Severity" SelectedItem="{Binding SelectedSeverity}" ItemsSource="{Binding Severity}" ColumnNumber="2" ColumnSpacing="10" RowSpacing="10" SelectionType="Button" />`

[2018-11-12 07:10] enisn commented on #55
Have a good work! 👍 😃

[2018-11-15 04:02] henryyue2010 commented on #49
It works now. Thank you very much for the work.

[2018-11-15 04:16] henryyue2010 opened #56 "Option to change the shape of Check in Checkbox?"
## My Question Here ?

Is there a way to change the shape of check in checkbox like this?

![checkbox](https://user-images.githubusercontent.com/16337520/48529849-e322a780-e8f9-11e8-8734-35229881e927.png)

[2018-11-15 06:12] enisn commented on #56
In IOS, it's displaying System Check Shape.

 But Android it's using Check Ascii character  `✓ ` (_2713_).
✔ _2714_ ascii is displaying as Emoji, That's why it uses 2713 ascii code.

But an option can be added for custom image using in checkbox.

[2018-11-15 06:13] enisn commented on #54
Dropdown is an experimental control and it's working in Android & iOS for now.

Unfortunately, UWP implementation doesn't exist for now. 😞

[2018-11-24 00:43] lekgolo167 commented on #45
Hey, quick question. Not sure where to post this to ask you @enisn But can the Radio Button Text wrap to a newline like a label? Or will it always get truncated?

[2018-11-26 22:28] toyins46 opened #57 "Text not aligning well vertically with the Radio Button in the SelectionView Control."
**Describe the bug**
Once the list is bound to the SelectionView via the ItemSource in MVVM, the list shows up on iOS and Android. However, the text does not align well vertically with the Radio button to the left of the text in the list.

**To Reproduce**
Steps to reproduce the behavior:
<input:SelectionView ColumnNumber="1"
                     ColumnSpacing="0"
                     RowSpacing="

[2018-11-26 22:39] toyins46 opened #58 "SelectionIndex no longer working in SelectionView."
**Describe the bug**
I set the SelectionIndex = -1 in the SelectionView control to deselect all Radio BUttons, so that no Radio Button on the list is selected. However, the first Radio Button is selected by default even though the SelectionIndex is set to -1. I tried hardcoding the value just to test but it still defaults to the first one.
I'm using MVVM by the way.

**To Reproduce**
Steps to repr

[2018-11-27 09:22] Juansero29 opened #59 "SelectionView with SelectionType.CheckBox doesn't work"
**Describe the bug**
The SelectionView with SelectionType.CheckBox doesn't work. No items can't be checked from the grid of items.

**To Reproduce**
Steps to reproduce the behavior:
1. Declare a SelctionView in XAML
`        <controls1:SelectionView x:Name="SelectionView"/>`
2. Fill it with items and change its selection type on code-behind

[code]

3. Build & Deploy the project
4. Try to check th

[2018-11-27 10:45] Juansero29 commented on #59
I forgot to specify that I tested only on iOS and Android. The control doesn't work in none of them

[2018-11-27 15:24] enisn commented on #59
Thanks for the feedback. I'm trying to find when the problem started,

You can try earlier versions until I find the solution

[2018-12-03 13:44] BogaDev opened #60 "Dropdown Text color not working"
Hi! Very like your plugin, but there is one problem.
When I set TextColor to my Dropdown it just doesn't influence on it.
No matter where I try to do it. Neither  XAML nor CS file.
I tried to set my color to PlaceHolderColor, but there is nothing changed anyway.
I tried on Android, don't know about IOS.

[2018-12-06 16:59] JHHMobile opened #61 "How to remove the shadow of the AdvancedEntry?"
I could not able to remove the shadow of the textbox. Is there any ways to do it? Thank you

<input:AdvancedEntry CornerRadius="5"
                                    Text="{Binding Email}"
                                    IsRequired="True"
                                    Annotation="Email"
                                    Placeholder="sample@domain.com"

[2018-12-06 17:00] JHHMobile commented on #61
![screen shot 2018-12-06 at 12 00 02 pm](https://user-images.githubusercontent.com/6495511/49599244-82154f00-f94e-11e8-9315-339a8496b7b0.png)

[2018-12-07 09:30] enisn commented on #61
Can you try to set **Bordercolor** as Color Transparent

That shadow comes from FrameRenderer of Xamarin Forms library.

[2018-12-07 14:17] JHHMobile commented on #61
@enisn Thanks for your reply. I have tried that after I found [this reported issue](https://github.com/enisn/Xamarin.Forms.InputKit/issues/25#issue-348210786), I thought it is the same issue but it didn't work in my scenario.

[2018-12-11 10:38] amrkamal1993 commented on #45
Hi @enisn

You can also add customize tab which i can put counter on it like this
![image](https://user-images.githubusercontent.com/11614137/49795023-a489dc80-fd41-11e8-8602-f6382e44d240.png)

another suggestion what about range slider ? like one in price range from to

[2018-12-11 19:37] LeoJHarris commented on #45
@amrkamal1993 You can find a customize tab that already does that feature with counter https://github.com/xabre/xamarin-forms-tab-badge

[2018-12-21 12:48] devanshukanik commented on #60
Same here I also tried setting the color Globally that too not working.

[2018-12-26 04:49] vdidxho opened #62 "Using InputKit in SharedLibrary"
Thank you for contributing your work. It's silly that these controls don't exist in Xamarin.Forms with how long it has been around now. It appears the NuGet packages get installed on iOS and Android projects but how would someone use the code in a shared library? I'd really like to do dynamic forms created from code fetched from our Server (all of which I can do except for using your controls in a

[2018-12-27 17:56] enisn commented on #62
You need to add [Plugin.CurrentActiviy](https://www.nuget.org/packages/Plugin.CurrentActivity/) into your Android project.

You can install it from **Manage NuGet Packages** by **Right Click**ing your project or
you can include it manually from [here](https://www.nuget.org/packages/Plugin.CurrentActivity/)

[2019-01-13 09:11] henryyue2010 opened #63 "how to set text size in SelectionView with SelectionType="RadioButton""
## My Question Here ?
I created a group of radios using the example in wiki

[code]

but the Text Size in RadioButton is not good. How to change the Text Size in SelectionView?

Thank you very much.
Henry

[2019-01-13 22:53] henryyue2010 commented on #59
@enisn  I met the same issue. Does @Juansero29 's solution work?

[2019-01-14 17:56] shahbaaz90 opened #64 "checkbox taking up too much space, not fitting inside box shape"
**Describe the bug**
the checkbox control height goes beyond the scope defined in heightrequest or BoxSizeRequest.

**To Reproduce**
Create a checkbox control inside a grid
                    <inputkit:CheckBox
                        BackgroundColor="Blue"
                        Grid.Row="1"
                        Grid.Column="0"
                        HorizontalOptions="Start"

[2019-01-16 11:54] enisn commented on #64
Can you try to set **Padding** and **Margin** as Zero for checkbox
[code]

Did it help ?

[2019-01-16 11:58] enisn commented on #63
Try to add following GlobalSetting in **App.cs**:

[code]

[2019-01-16 12:00] enisn commented on #60
Thanks for your feedback 👍
This is added to planned fixes list on new version.

[2019-01-16 13:41] shahbaaz90 commented on #64
@enisn yep, setting padding to zero solved it. thanks ! :)

[2019-01-16 13:42] #64 closed

[2019-01-18 04:19] henryyue2010 commented on #63
@enisn That's it. Thank you very much.

[2019-01-18 04:19] #63 closed

[2019-01-22 15:58] Nevyn75 opened #65 "CheckBox in a ViewCell"
Hi.

I have a problem with a checkbox put in a ViewCell:

[code]

When I check the control, the bound boolean property is set to true (breakpoint on setter), but if I change the property to false by code, the getter is correctly called and the returned value is false (breakpoint on getter) but the checkbox still remains checked...

The ItemsSource of the parent ListView is an ObservableCollection.

[2019-01-22 16:21] Nevyn75 commented on #65
Sorry.

My fault, I've just discovered that I had a problem in my INotifyPropertyChanged implementation.

Thanks for the package, very useful!

[2019-01-22 16:21] #65 closed

[2019-01-26 03:17] jlhernandez1388 commented on #50
@enisn When will v3 come out? Also apart of the toggle problem I have a problem of multiple events firing with checkbox's clicked on list views. This problem is only on UWP.

[2019-01-30 13:50] TommyLiu1 commented on #59
@enisn I also met the same issue in 2.3.5. Is any workaround now?

[2019-01-31 20:54] vchelaru opened #67 "RadioButton inside RadioButtonGroup is not initially checked according to binding."
**Describe the bug**
Radio Buttons should be checked according to the bound Value on the RadioButtonGroup, but they are not.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new RadioButtonGroupView
1. Call NewRadioButtonGroup.SetBinding(RadioButtonGroupView.SelectedItemProperty, "PropertyName") to bind the group to a value in a view model
1. Create a property in the view model of En

[2019-01-31 21:02] vchelaru commented on #67
I have a simplified scenario which requires no view model nor binding:

[code]

[2019-02-05 10:46] enisn commented on #67
that is better to understand problem.

For now, as I see, '==' comparison is from [here](https://github.com/enisn/Xamarin.Forms.InputKit/blob/8f94bd831d418941a21618c6dcff5cee4aa269e6/InputKit/Shared/Controls/RadioButton.cs#L147) doesn't work for your Enums.

Current code:
[code]

<hr />
The following changes may solve that problem, I'll try and publish a new version as soon as possible

[code]

[2019-02-05 10:48] enisn commented on #58
That will be solved next NuGet release.

[2019-02-05 10:49] enisn commented on #57
I really couldn't get that issue.

Can you share a screenshot about it?

[2019-02-05 15:16] vchelaru commented on #67
Yea, that makes sense, the == on enum values will return false because it is comparing the boxed values.

Let me know when it's released and I can try updating my code. In the meantime I've coded a work-around.

[2019-02-05 20:34] enisn commented on #28
Added **TextFontSize** property  to Dropdown at v2.3.6. You can use now like below;

[code]
<hr />
@LeoJHarris

You can visit new version(2.3.6) from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/2.3.6).
or
You can use NuGet package from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.6).

[2019-02-05 20:34] #28 closed

[2019-02-05 20:36] enisn commented on #58
Fixed SelectedIndex at v2.3.6

<hr />

You can visit new version(2.3.6) from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/2.3.6).
or
You can use NuGet package from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.6).

[2019-02-05 20:36] #58 closed

[2019-02-05 20:38] enisn commented on #60
This problem solved at v2.3.6.

Also you can visit [Dropdown Coloring](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Dropdown-Coloring) Guide

You can visit new version(2.3.6) from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/2.3.6).
or
You can use NuGet package from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.6).

[2019-02-05 20:38] #60 closed

[2019-02-05 21:01] enisn commented on #59
There is a HotFix for this problem at v2.3.6.1

<hr />

You can visit new version(2.3.6.1) from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/2.3.6.1).
or
You can use NuGet package from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.6.1).

[2019-02-05 21:01] #59 closed

[2019-02-05 21:04] enisn commented on #67
@vchelaru ,

New version is released. Probably your problem was solved too. Can you check in new version and write result ?

<hr />

You can visit new version(2.3.6) from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/2.3.6).
or
You can use NuGet package from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.6).

[2019-02-05 23:40] vchelaru commented on #67
I just tried it, everything works great!

[2019-02-05 23:40] #67 closed

[2019-02-06 22:35] enisn commented on #62
And you need to add a single line of code into your **MainActivity**.

[2019-02-11 23:12] Cocotus opened #68 "SelectionView: Selecting multiple items in SelectionType.Button configuration"
First thanks for this project, I love the layout of the selectionview in button configuration and it works fine if radio button behaviour is asked (only one item can be selected at one time). But what if I want to allow selecting multiple items? I noticed some properties in the code like SelectedItems and SelectedIndexes so it seems there is something implemented here,  but I cant get it to work i

[2019-02-12 06:36] enisn commented on #68
Thanks for specifying this requirement.

In 2.3.6 version **SelectionView** supports multiple selection for Type of **CheckBox** only.

<hr />

Multiple Selection will be added to Type of Button at next version

[2019-02-12 07:14] Cocotus commented on #68
That sounds awesome thanks!  :+1:  Maybe it's a good idea to offer a new property like "AllowMultipleSelections"  for that, so we can decide which behaviour we want?

[2019-02-12 07:50] enisn commented on #68
https://github.com/enisn/Xamarin.Forms.InputKit/blob/872e0f90bd55643a0c2e38d4767df54d5156acb3/InputKit/Shared/Controls/SelectionView.cs#L261-L274

from here there is a primitive solution to decide allows multiple selection or not :)
Adding a new Enum value with even number will solve problem much more quicker.
https://github.com/enisn/Xamarin.Forms.InputKit/blob/872e0f90bd55643a0c2e38d4767df54d515

[2019-02-12 08:07] enisn commented on #68
That problem solved.

You may use **MultipleButton** Type of SelectionView to do this like following code:

[code]

<hr />

You can find new version v.2.3.7
Release from [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.7)
NuGet from [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.7)

[2019-02-12 15:14] AirCallInc commented on #68
@enisn  2.3.7 cannot work in iOS, please help to check.The following is error message:
Error MT2101: Can't resolve the reference 'System.String[] System.String::Split(System.Char,System.StringSplitOptions)', referenced from the method 'System.Boolean Plugin.InputKit.Shared.Controls.AdvancedEntry::get_IsAnnotated()' in 'mscorlib, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'. (

[2019-02-12 16:38] enisn commented on #68
If older version doesn't throw that Error, please try Delete **/obj** folder from your project root and generate again via building project.

If that happens at earlier versions, I'm moving that problem as new issue.

[2019-02-12 18:29] Cocotus commented on #68
Awesome, thanks for quick implementation and release! I'm at home now and going to test this in my project (UWP) later and report back.

[2019-02-12 23:18] Cocotus commented on #68
EDIT: Works fine! Thanks again!

[2019-02-12 23:18] #68 closed

[2019-02-12 23:37] vchelaru opened #69 "AdvancedSlider should have an option to suffix and prefix min/max values, and not require a "+" suffix on max value"
**Is your feature request related to a problem? Please describe.**
Currently the min and max values cannot have prefixes and suffixes like the Value. Since the min and man are using the same units as the current value, they should optionally have prefixes and suffixes.

Also, I find it very strange that the max value has a "+" at the end. I don't want that in my app, and if users could add prefixe

[2019-02-12 23:57] vchelaru opened #70 "Slider value position seems to ignore min value."
**Describe the bug**

The position of the slider value label seems to ignore the min value when it is positioned (as if the min value is always 0).

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following code:
[code]
2. Run the program
3. Observe that the 3.5 value is not positioned in the center of the slider where the thumb is located. Instead it is to the far-right.

**Expected

[2019-02-13 07:28] enisn opened #71 "@enisn 2.3.7 cannot work in iOS, please help to check.The following is error message:"
@enisn  2.3.7 cannot work in iOS, please help to check.The following is error message:
Error MT2101: Can't resolve the reference 'System.String[] System.String::Split(System.Char,System.StringSplitOptions)', referenced from the method 'System.Boolean Plugin.InputKit.Shared.Controls.AdvancedEntry::get_IsAnnotated()' in 'mscorlib, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'. (

[2019-02-13 08:47] enisn commented on #70
@vchelaru

https://github.com/enisn/Xamarin.Forms.InputKit/blob/87b3661be8647dd99892d445baa916265b795849/InputKit/Shared/Controls/AdvancedSlider.cs#L57

In that line, decimal numbers modulo operator returns **0,099999...** for `3.8 % 0.1` operation because of Binary Problem with floating numbers like [this](https://0.30000000000000004.com/).

[2019-02-13 09:07] enisn commented on #69
That problem solved at **v2.3.8** and released.

@vchelaru ,  can you try new version and notify result if worked or not?

<hr />

Release notes are [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.8)
NuGet Package is [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.8)

[2019-02-13 09:17] enisn commented on #70
@vchelaru
AdvancedSlider does not get 0 as start value anymore. and step values mod problem is solved at v.2.3.8 and released

<hr />

Release notes are [here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.8)
NuGet Package is [here](https://www.nuget.org/packages/Xamarin.Forms.InputKit/2.3.8)

[2019-02-13 12:01] enisn commented on #71
Following action may help:
https://github.com/enisn/Xamarin.Forms.InputKit/issues/68#issuecomment-462833730

[2019-02-13 16:11] vchelaru commented on #69
Thanks so much it works great!

[2019-02-13 16:11] #69 closed

[2019-02-13 16:12] vchelaru commented on #70
Fantastic work, thank you so much!

[2019-02-13 16:12] #70 closed

[2019-02-19 03:55] busidex-vinbrown opened #72 "Would like to have control over padding and text alignment within the dropdown control please."
The dropdown control has a lot of wasted space. I would like to be able to control the padding, text alignment and text size. Controlling the text size via the Global Settings does not work as indicated in the readme.txt file.

[2019-02-20 07:26] enisn commented on #72
Do you need that control smaller ?

[2019-02-21 20:49] LeoJHarris commented on #45
@enisn  If your still open to suggestions, AutoCompleteView?

[2019-02-22 15:59] busidex-vinbrown commented on #72
Yes, it's much too big for my UI. I'm using it in a list of phone numbers. The dropdown list (on each row) is for selecting a phone number type. So the row consists of the dropdownlist, the phone number, and a delete icon.

[2019-02-22 16:01] busidex-vinbrown commented on #72
I actually have a version of it working locally that works for me. I pulled down the repo, and was going to submit a PR, but don't have permissions.

[2019-02-22 18:53] enisn commented on #72
@busidex-vinbrown
You can create Pull request like [others](https://github.com/enisn/Xamarin.Forms.InputKit/pulls?q=is%3Apr+is%3Aclosed).  I didn't block any Pull Request

[2019-02-23 11:37] Vannevelj opened #73 "Radiobuttons that are not direct children will not trigger updates properly"
**Describe the bug**
I'm unsure how much of this is intended behaviour and how much of it is a bug. In short, I have a list of items (rows), each with some components including a radio button. I want the radio buttons to all be in the same group, hence if one gets checked then the others get unchecked.

Example layout:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a radio

[2019-02-23 11:40] enisn commented on #73
Yeah, That's great point.
I'll solve that bug

[2019-02-25 22:06] delaney31 opened #74 "CheckChanged Event is not firing on iPhone 5s"
**Describe the bug**
The checkbox CheckChanged event is not firing on the iPhone 5s. It seems to work on other iOS and Android devices.

**To Reproduce**
 checkBox.CheckChanged += CheckBox_CheckChanged;

 void CheckBox_CheckChanged(object sender, EventArgs e)
        {
            CheckUserAcceptance();
        }
**Expected behavior**
I expect the CheckChanged event to be called when box is checke

[2019-02-26 11:19] SandipAhluwalia opened #75 "Type input:CheckBox not found in xmlns clr-namespace:Plugin.InputKit.Shared.Controls;assembly=Plugin.InputKit on iOS"
Getting strange run-time exceptions on iOS as follows:

Xamarin.Forms.Xaml.XamlParseException: Position 98:34. Type input:CheckBox not found in xmlns clr-namespace:Plugin.InputKit.Shared.Controls;assembly=Plugin.InputKit

Xaml code below in shared .Net 2.0 library works fine when running on Android:

`xmlns:input="clr-namespace:Plugin.InputKit.Shared.Controls;assembly=Plugin.InputKit"`

`<DataTemp

[2019-02-27 15:57] SandipAhluwalia commented on #75
Unfortunately the claim that

in https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Getting-Started seems to be untrue for at least iOS as I resolved the above issue by adding the following line of code in the `FinishedLaunching` override to stop the compiler linking out the library:

`double fontSize = CheckBox.GlobalSetting.FontSize;`

[2019-02-27 20:16] LeoJHarris opened #76 "Dropdown ( Experimental * Not Stable * ) => Stable"
Hi there I am using the Dropdown and just wondering when this will move from experimental to stable?

[2019-02-28 11:17] enisn commented on #75
I've just created a new Project, added package to each platform, and just called CheckBox from XAML. It worked.

Can you try delete your **/obj** folder before start.

[2019-02-28 11:18] enisn commented on #75
Also this NuGet package built from Multi-Targeting Library. You don't need trigger for each platform.

[2019-02-28 12:19] enisn commented on #71
That error fires only if target framework is **netstandard10**.
Try targetting **.Net Standard 2.0+**

[2019-02-28 12:19] #71 closed

[2019-03-01 03:41] LeoJHarris opened #77 "Dropdown all text options to text size and font"
Hi there feature request to be able to specify the font and text size of the drop down options and the text shown within the drop down. Basically all text minus the title as that is already able to change. That be great as I have text rather larger then this size on my page already.

Lastly be good to be able to set the text color of the selected text within the dropdown when a selection has been

[2019-03-01 17:36] enisn commented on #43
I've just tested and It's working in ScrollView at Xamarin Forms 3.4 and InputKit v.2.3.8

[2019-03-01 17:36] #43 closed

[2019-03-02 11:17] enisn commented on #75
@SandipAhluwalia
You are Right.
I've just tried Xamarin Forms 3.2.x project.
Linker doesn't get ios library.  XF 3.4x.x+ versions works fine but lower versions you'll need Init like that until ı've update and add Init method:

[2019-03-02 14:07] enisn commented on #45
AutoComplete feature planned for AdvancedEntry, you can track form [this card](https://github.com/enisn/Xamarin.Forms.InputKit/projects/2#card-18309705)

[2019-03-02 22:44] enisn commented on #56
It's now available at v.3.0.0

For more information [visit Release Notes].(https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0-pre5)

[2019-03-03 09:38] enisn commented on #76
**UIPopover** can not be used for iPhones, it's for only iPads. that why it waits for iOS implementation. and  the Android side, ContextMenu crashes at some of Android Versions

[2019-03-04 08:02] enisn commented on #45
@LeoJHarris
You can try [this Pre-Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0-pre6) for AutoCompleteView and send me feedback to decide features for Release

[2019-03-04 21:41] LeoJHarris commented on #76
Do you happen to know for which android versions failing for Contextmenu?

[2019-03-05 04:01] LeoJHarris opened #85 "TextSize on AdvancedEntry"
Hi @enisn regarding AdvancedEntry is there a TextSize property on it? If not can we add one possibly? Thanks

[2019-03-05 04:32] LeoJHarris commented on #45
@enisn AutoCompleteView or AutoCompleteEntry? I see two similar components

[2019-03-05 06:27] enisn commented on #45
AutoCompleteView does not have any visual effects. just simply invisible(if you set background you'll see :) ) view. AutoCompleteEntry is inherited from AdvancedEntry to use same features. If you'll make custom desing for AutoComplete, just use autocomplete view and put it in a shape which you want.

[2019-03-05 06:34] enisn commented on #57
That it resolved at v.3.0.0-pre5.
You can [visit here](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0-pre5) to release notes.

[2019-03-05 06:34] #57 closed

[2019-03-05 06:36] enisn commented on #74
Can you check again at newer versions if same problem continues ?

This is last stable pre-release: [v.3.0.0-pre6](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0-pre6)

[2019-03-05 07:03] delaney31 commented on #74
Sorry this was not a bug in your component. It was in my code.

[2019-03-05 07:03] #74 closed

[2019-03-05 15:04] enisn commented on #73
Until solution will be released you can use [SelectionView ](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/SelectionView)to make columns for RadioButtons by setting **Type** as RadioButton and **ColumnNumber** as how much you want.

[code]

You can find some instructions to set-up SelectionView:
- [Adding dynamicly RadioButtons](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Adding-dy

[2019-03-06 10:10] srdmnc opened #87 ""LinkAssemblies" task failed unexpectedly."
**Stack Trace:**
/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(5,5): Error MSB4018: **The "LinkAssemblies" task failed unexpectedly.**
**Mono.Linker.MarkException: Error processing method: 'System.Boolean Plugin.InputKit.Shared.Controls.AdvancedEntry::get_IsAnnotated()' in assembly: 'Plugin.InputKit.dll' -**--> Mono.Cecil.ResolutionException: Fai

[2019-03-06 10:43] enisn commented on #87
Can you try solution from here #75

Or you can try use [v.3.0.0-pre5](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0-pre5). Init methods added to platforms in that verison.

after v3.x.x, go **OnCreate()** method in your **MainActivity** and use:

[code]

[2019-03-07 01:16] srdmnc commented on #87
@enisn
I tried to use [v.3.0.0-pre5](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0-pre5) and [v.3.0.0-pre6](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0-pre6)
and added **Plugin.InputKit.Platforms.Droid.Config.Init();** to **MainActivity.cs** but both failed to solve the issue.

[2019-03-07 07:40] enisn commented on #87
Can you try a full clean with deleting **/obj** and **/bin** folder of your Droid and portable project after updating plugin. Then build.

As I see problem occours at AdvancedEntry.IsAnnotated:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/8e4c396f4cb9ebff7b4128eca4bf2e4d7ebf9f93/InputKit/Shared/Controls/AdvancedEntry.cs#L214

Does your prortable project targets .Net Standard 1.X ?
Most par

[2019-03-07 07:52] enisn commented on #87
.Net Standard 1.0 support added on [v3.0.0-pre7](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.0.0-pre7), can you check again with this version ?

<hr />
<a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.0.0-pre7"><img src="https://img.shields.io/badge/Nuget-3.0.0_pre7-blue.svg" /></a>

[2019-03-07 09:03] srdmnc commented on #87
@enisn

I'm using :
**.Net Standard Version 2.0** ; **Nuget Version:** [v.3.0.0-pre7](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.0.0-pre7)

I'm getting errors from this method when building (see Stacktrace):
https://github.com/enisn/Xamarin.Forms.InputKit/blob/8e4c396f4cb9ebff7b4128eca4bf2e4d7ebf9f93/InputKit/Shared/Controls/AdvancedEntry.cs#L437

**Stacktrace:**
_[ Android - Release

[2019-03-07 09:08] srdmnc commented on #87
@enisn

Will you able to reproduce this behavior?

[2019-03-07 09:15] enisn commented on #87
Do you really need Link **SDK's Only** behavior ?
If you use **Link Assembly**, Linker will include all Plugin.InputKit assembly. But I can't talk another assemblies, they can increase your output result.

--

I'll try to resolve that problem as soon as possible.

[2019-03-07 09:24] srdmnc commented on #87
Linking with **Link Assembly** did the trick.  Thanks @enisn 👍

[2019-03-07 09:58] enisn commented on #85
@LeoJHarris
It's included V3.0.0 pre-release
<hr />
<a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.0.0-pre7"><img src="https://img.shields.io/badge/Nuget-3.0.0_pre7-blue.svg" /></a>

[2019-03-07 20:37] #85 closed

[2019-03-07 20:39] enisn commented on #56
You can just try following codes to customize your own CheckBox:

[code]

[2019-03-07 20:39] #56 closed

[2019-03-08 08:18] enisn commented on #75
@SandipAhluwalia
Does problem continues at [v3.0.0](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0) with new **Init()** methods. _(after following [new set-up](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Getting-Started))_

* * *

<a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.0-blue.svg" /></a>

[2019-03-08 08:22] enisn commented on #31
That should be solved with #88
Thanks for @damiansikora85

[2019-03-08 08:22] #31 closed

[2019-03-10 09:04] #75 closed

[2019-03-11 01:31] srdmnc opened #90 "System.NullReferenceException: Object reference not set to an instance of an object at Plugin.InputKit.Platforms.iOS.IconViewRenderer [ iOS ]"
**Description**
The app throws a null reference exception when opening a view that uses this plugin's checkbox.

**Expected behavior**
App crashes

**Stacktrace**
System.NullReferenceException: Object reference not set to an instance of an object
  **at Plugin.InputKit.Platforms.iOS.IconViewRenderer**+(**SetImageAsync**)d__4.MoveNext () [0x00151] in <30d437b2d5914154b23dc8a58d5103ce>:0
  at System

[2019-03-11 06:20] enisn commented on #90
Can you share your CheckBox code from XAML,
Do you set a custom icon ?

[2019-03-11 06:43] srdmnc commented on #90
`<input:CheckBox Margin="0" Padding="0" Color="#FDCA00" Type="Material" Grid.Row="0" Grid.Column="1" HorizontalOptions="End" VerticalOptions="Start" CheckChanged="Handle_IsCheckedChanged" ClassId="test" />`

No, I  didn't set a custom icon. I'm using Type - **Material**, should I set a custom icon?

[2019-03-11 06:47] enisn commented on #90
I think new assembly couldn't be replaced into your **/obj** folder. Can you try delete **/obj** amd **/bin** folder and try again if you updated from a 2.x.x version

I'm working on it by the way. I'm testing same situation now.

[2019-03-11 07:39] enisn commented on #90
I've just tested it with same code and same device. It works.
Did you use `Init()` method for iOS for new version v3 ?

--
[Gtting Started](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Getting-Started)

[2019-03-11 08:40] srdmnc commented on #90
I did use the `Config.Init()` methods in iOS. I already deleted the `/bin` and `/obj` folders from the iOS project's root reinstalled the NuGet package but the error in the method **Plugin.InputKit.Platforms.iOS.IconviewRenderer.SetImageAsync()** is still there.

[2019-03-11 09:56] muhammetsahin opened #91 "Added IsPassword Property to AdvancedEntry control"
I cant find isPassword property in AdvancedEntry control.

Maybe you should add this.

`
    //------------------------------------------------------------------------
    /// <summary>
    /// IsPassword this control
    /// </summary>
    public bool IsPassword
    {
      get => _isPassword; set
      {
        _isPassword = value;
        txtInput.IsPassword = value;
      }
    }
`

Thanks.

[2019-03-11 10:04] enisn commented on #90
I've found some clue about it [from here](https://stackoverflow.com/questions/21466488/async-method-throws-exception)
I'll make it from `async void` to `async Task`. I hope it'll resolve problem. When does it happen I'm not sure but Async Method Builder throws an exception at your situation.

[2019-03-11 11:24] enisn commented on #91
Included in v3.0.1

<a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.1-blue.svg" /></a>

[2019-03-11 11:25] enisn commented on #90
I've just converted to synchronous method, and it still works. Can you try v3.0.1, it's just released on NuGet

<a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.1-blue.svg" /></a>

Output:
![](https://uc3f14e7f978c6e3abf77d5f5e4c.previews.dropboxusercontent.com/p/thumb/AAXILkckvCKcTsP9hdzNTZrBJ8Sr-Y4VVjAAvDeVwpJAkMT8fLwrnyxP1N92yEO71

[2019-03-11 11:29] #91 closed

[2019-03-12 01:03] srdmnc commented on #90
I get it now, that's why it's returning null.

[v3.0.1](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.0.1) fixed the error.

Thanks, @enisn .

[2019-03-12 01:15] #90 closed

[2019-03-12 11:18] enisn commented on #42
I think this was resolved at [V3 Release](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.0)

if will problem continue again, just re-open this issue.

[2019-03-12 11:18] #42 closed

[2019-03-13 16:08] hhuseyinpay opened #93 "Wrong variable name at the getting started page in the wiki"
In the Android section written this:
`Plugin.InputKit.Platforms.Droid.Config.Init(this,savedInstance); `
It should be:
`Plugin.InputKit.Platforms.Droid.Config.Init(this,savedInstanceState);`

[2019-03-14 06:47] enisn commented on #93
Yeah, Right.
It's name is `savedInstanceState` at newer versions of Xamarin Forms.
Thanks for your contributing. I'm updating now. 👍

[2019-03-14 06:48] enisn commented on #93
It just resolved.

[2019-03-14 06:48] #93 closed

[2019-03-14 10:45] ronakshethia opened #94 "Not able to customize the SelectionView"
i am not able to change the color of radio circle and also not able to resize the font of the radio button could u please provide that functionality

[2019-03-14 10:52] enisn commented on #94
Of course. That is right.

SelectionView is not a real control. just generates RadioButtons, CheckBoxes or buttons at runtime. It uses Control's default settings.

If your SelectionType is CheckBox you can try change `GlobalSetting` of CheckBox.

--
For example.

if you have that:
[code]
go to your **App.cs**
[code]
* * *
If you havethat:
[code]
go to your **App.cs**
[code]

[2019-03-14 10:53] enisn commented on #94
I'm labeling this issue as Enchantment and customizing feature will be added to selectionview

[2019-03-14 11:09] ronakshethia commented on #94
Thanks it worked for me :)

[2019-03-15 19:30] nic0l45 opened #95 "Icon on AdvancedEntry control"
## My Question Here ?
Hi, i have a problem with the icon on the AdvancedEntry tag, when i put my icon's name, it appears the contour of the icon not the complete icon.
### Also I tried that:
I changen varius sizes and nothing, is already .png

[code]

[code]

[2019-03-16 06:47] enisn commented on #95
Can you introduce more information about problem ?

Can you share your real icon, and screenshot in AdvancedEntry ?

[2019-03-19 15:20] HelenMamalaki commented on #87
Hi, I'm using a hosted build on Azure DevOps to build Android and iOS app in release mode but for iOS I am getting a similar error to above. Is this definitely fixed? I am using v3.0.2 of the Plugin.
Can't resolve the reference 'System.Boolean System.String::Contains(System.String,System.StringComparison)', referenced from the method 'System.Boolean Plugin.InputKit.Shared.Controls.AutoCompleteEntr

[2019-03-19 15:45] HelenMamalaki opened #96 "Can't resolve the reference 'System.Boolean System.String::Contains(System.String,System.StringComparison)', referenced from the method 'System.Boolean Plugin.InputKit.Shared.Controls.AutoCompleteEntry"
**Describe the bug**
I'm using a hosted build on Azure DevOps to build Android and iOS app in release mode but for iOS I am getting the following error.  I am using v3.0.2 of the Plugin. Error is similar to https://github.com/enisn/Xamarin.Forms.InputKit/issues/87 but it has been closed down.

Can't resolve the reference 'System.Boolean System.String::Contains(System.String,System.StringComparison

[2019-03-20 00:26] srdmnc commented on #87
@HelenMamalaki I think this bug is not officially fixed, what @enisn suggested is a workaround and that's by setting your linker to "Link Assembly".

Update: I set my linker to "None" because I'm having errors in Android (Release Mode).

[2019-03-20 06:30] ronakshethia opened #97 "Extending the Entry of Advance"
how can i get a bordered entry as my application is using bordered entry and so i tried extending the AdvanceEntry and tried putting border using custom render but i could not achieve

this is what i am trying to make my entry look like
![image](https://user-images.githubusercontent.com/35444818/54663032-fe9afa80-4b05-11e9-85d9-3b75bc775b91.png)

what i am getting right now is this
![image](https:

[2019-03-20 09:55] enisn commented on #97
It's using FrameRenderer instead of EntryRenderer. That's why it applies shadow with border color. I'll add support for border color as soon as possible

[2019-03-20 09:56] ronakshethia commented on #97
thanx that would work for me at the moment

[2019-03-20 10:47] ronakshethia commented on #97
what could i do to remove that extra space ?

[2019-03-20 16:22] Khaon opened #98 "Expose FontFamily property for radio button in xaml style"
Hello,

currently, it seems, you can not specify the property "FontFamily" in a style.
See screenshot

![image](https://user-images.githubusercontent.com/6811304/54701129-aa5b3f00-4b34-11e9-9b29-f2915e33af71.png)
Maxime.

[2019-03-21 05:19] enisn commented on #98
Good catch!
I'll fix it as soon as possible

[2019-03-21 05:24] enisn commented on #97
That space for Icon placement,
I'll remove that space when icon isn't set in new version 👍

[2019-03-22 04:31] 3dsoft opened #99 "How can set icon position in AdvancedEntry ?"
thank you

[2019-03-22 06:21] enisn commented on #99
Are you using RTL ? that shouldn't be displayed like that

[2019-03-22 06:41] prasad2694 opened #100 "SelectionView Radio button Give Null in SelectedItems for the first time if not clicked on it"
![image](https://user-images.githubusercontent.com/47597815/54804894-2a9bb480-4c9b-11e9-8e94-f98408ec0ae4.png)

can u help me how can i deselect all the radio button from start.
i am facing an issue until a user does not select or click any radio button i get null in selecteditems,
so i want for the first time none of the radio button is selected

i am using SelectionView

i also tried with select

[2019-03-22 07:49] hjavaher opened #101 "Hiding ValidationMessage until Validation issue"
**Is your feature request related to a problem? Please describe.**
ValidationMessage should be hidden until there is an error (usually after a button clicked or focus/unfocus

**Describe the solution you'd like**
It would be nice to configure validationmessage to be always visible or hidden until action (focus/unfocus or a button click)

[2019-03-22 08:16] enisn commented on #101
I handled that problem like that:

If I don't bind the Text of AdvancedEntry, validation message is hidden until I sterted to type.
But in new version, it'll be visible after Binding Text property.

[2019-03-22 08:18] enisn commented on #100
It looks like an initialization problem of SelectionView.
I'm adding this bug to TODO list.

[2019-03-22 08:37] hjavaher commented on #101
Hi @enisn
thanks for your reponse, this is my first app and I didn't know how to do data binding. These AdvancedEntry controls are just pointed to using their name in the view's code behind.

[2019-03-22 09:03] kevinvella opened #102 "Object reference not set to an instance of an object error"
**Describe the bug**
When i remove the Xamarin.Forms.InputKit package the application works.

**To Reproduce**
Trying to reproduce it in a sample app

**Expected behavior**
Does not crash

**Smartphone (please complete the following information):**
 - Device: iPhone XS Max
 - OS: iOS 12.1
 - Version 12.1

Xamarin Forms v3.6.0.264807
Xamarin.Forms.InputKit v3.0.2
Xamarin Forms Material v3.6.0.26480

[2019-03-22 16:13] ronakshethia commented on #87
i am facing the same issue anybody with solution ?

[2019-03-23 12:28] enisn commented on #102
Do you have a CustomRenderer which exported to `StackLayout` in your iOS project ?

[2019-03-23 15:22] kevinvella commented on #102
I have custom renderers for pickers, and buttons.
And have a custom date picker based on grid and stack layout

I was not able to replicate it in a sample using the custom date picker only.
[InputKitException.zip](https://github.com/enisn/Xamarin.Forms.InputKit/files/2999517/InputKitException.zip)

[2019-03-24 20:29] kevinvella commented on #102
Hi,
When will the update be available to nuget?

[2019-03-25 05:54] ronakshethia opened #103 "i am trying to build my project in Release and I am up with this issue"
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Boolean Plugin.InputKit.Shared.Controls.AdvancedEntry::get_IsAnnotated()' in assembly: 'Plugin.InputKit.dll' ---> Mono.Cecil.ResolutionException: Failed to resolve System.String[] System.String::Split(System.Char,System.Stri

[2019-03-25 06:54] enisn commented on #101
@hjavaher
Can you try new version as <a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.3-blue.svg" /></a>

That problem should be fixed at [v3.0.3](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.3)

[2019-03-25 06:55] enisn commented on #100
@prasad2694
Can you try new version [v3.0.3](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.3)

That problem should be fixed at <a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.3-blue.svg" /></a>

[2019-03-25 06:56] enisn commented on #102
@kevinvella

@prasad2694
Can you try new version [v3.0.3](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.3)

That problem should be fixed at <a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.3-blue.svg" /></a>

[2019-03-25 06:57] enisn commented on #103
I think this is almost same with #96

[2019-03-25 07:10] enisn commented on #103
I've investigated that, it's not same with #96

That problem occours from AdvancedEntry's IsAnnotated property. That was using string methods to check Validation. after **v3** it converted to Regex check.

If you are not able to Migrate your project to V3 you can try [this solution](https://github.com/enisn/Xamarin.Forms.InputKit/issues/75#issuecomment-467918443)

[2019-03-25 07:43] kevinvella commented on #102
@enisn

Thanks. Confirming that the issue is fixed with this update.
Closing this issue. Thanks very much :)

[2019-03-25 07:43] #102 closed

[2019-03-25 07:59] enisn commented on #103
I've just released a version for V2 users which is [v.2.3.9](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.2.3.9)

@ronakshethia  Can you try that version if it works or not?

[2019-03-25 08:47] ronakshethia commented on #103
@enisn  i got my problem solved by updating xamarin forms and then adding init to platforms but now i am facing this Issue

Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Boolean Plugin.InputKit.Shared.Controls.AutoCompleteEntry/<>c__DisplayClass6_0::<GetInputEntry>b__1(

[2019-03-25 09:41] enisn commented on #103
That is same with #96 now.
I'm working on it

[2019-03-25 14:46] enisn commented on #87
That issue occours from `String.Split()` method in AdvancedEntry `IsAnnotated` property. That changed at V3.

This issue is closed. You can track following error:

After V3, Another issue is shown from `String.Contains()` method in `AutoCompleteEntry` and you can track these issues:
- #96
- #103

[2019-03-25 14:46] #87 closed

[2019-03-25 15:12] enisn commented on #96
Can you try pre-release version of  [v3.0.4-pre1](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.4-pre1) if it works or not?

Still I'm working on it.

[2019-03-25 15:16] enisn commented on #103
Now, it's duplicated issue. Just follow #96 There is a pre-release which is v3.0.4-pre1, If problem continues, add comment to #96

[2019-03-25 15:17] enisn commented on #100
I've just tried, I got the result. If it doesn't work at your project, re-open this issue. 👍

[2019-03-25 15:17] #100 closed

[2019-03-25 15:23] enisn commented on #97
@ronakshethia
Can you try updating [v3.0.4-pre1](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.4-pre1). This solution is included that pre-release.
 Just set BorderColor _Your Color_ and set BackgroundColor as `Transparent`

[2019-03-25 16:26] enisn commented on #97
@ronakshethia

After v3.0.4-pre1 and above;

You can try something like that:
[code]

and output:

![image](https://user-images.githubusercontent.com/23705418/54936540-ba5b9000-4f33-11e9-9992-fc851cc5b306.png)

[2019-03-26 05:37] ronakshethia commented on #96
@enisn  i am to build in release with this new pre-release version thanks

[2019-03-26 05:38] #103 closed

[2019-03-26 06:18] enisn commented on #96
After @HelenMamalaki 's answer, I'll merge that feature with new version and release it if it works.

[2019-03-26 06:19] enisn commented on #98
@Khaon
Does it work on [v3.0.4-pre1](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.4-pre1)?

[2019-03-26 12:40] ronakshethia commented on #94
@enisn  selectionView onload has atleast one radio button selected i tried making selected item null but still always one option is selected please help me how can i make all the radio button unselected on first

[2019-03-26 17:58] #101 closed

[2019-03-26 18:01] enisn commented on #73
@Vannevelj
[v3.0.4](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.4) has been released just now. Solution of this problem is included that version.

* * *
<a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.4-blue.svg" /></a>

[2019-03-26 18:01] #73 closed

[2019-03-26 18:01] #97 closed

[2019-03-26 18:03] enisn commented on #98
[v3.0.4](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.4) has been just released and solution of this issue is included.
@Khaon , can you try that version ?

* * *
<a href="https://www.nuget.org/packages/Xamarin.Forms.InputKit/"><img src="https://img.shields.io/badge/Nuget-3.0.4-blue.svg" /></a>

[2019-03-26 18:05] hjavaher commented on #101
Hey, Just validated it. Thanks for the quick update!!!

[2019-03-26 18:20] Khaon commented on #98
Hello, the fix should be okay. I will confirm in few hour today or tomorrow!

[2019-03-27 19:58] vchelaru opened #104 "RadioButtonGroupView should default its SelectedItemProperty to TwoWay"
**Is your feature request related to a problem? Please describe.**
I often create RadioButtonGroupViews which are bound to a property on my ViewModel and I do a simple binding:

[code]

This is similar to how to bind to other controls like Entry and Editor which can both display and receive input from the user.

However, unlike those controls, the RadioButtonGroupView defaults to OneWay binding, a

[2019-03-27 20:11] vchelaru opened #105 "Setting RadioButton.IsChecked = true does not update the ViewModel if the group is bound."
**Describe the bug**
If a RadioButtonGroupView has its SelectedItemProperty bound to a property on a view model, manually clicking on any contained RadioButtons will update the view model, but setting a RadioButton's IsChecked property to true in code will not update the view model.

It should, so that any approach of checking the RadioButton (either in code or manually by tapping on it) both upda

[2019-03-27 20:23] vchelaru opened #106 "RadioButtons seem to lose their Text when clicked"
**Describe the bug**
RadioButtons initially display their Text, but the text disappears when clicked. This was not a problem in previous versions (I was previously using 2.3.6), but after upgrading to 3.0.4 this seems to be happening, so it maybe was introduced recently.

**To Reproduce**

The following code reproduced the problem for me:

[code]

**Expected behavior**
The radio buttons should con

[2019-03-27 20:31] enisn commented on #106
https://github.com/enisn/Xamarin.Forms.InputKit/blob/master/InputKit/Shared/Controls/RadioButton.cs#L253

As I see, default value of TextColor returns Transparent. I'm working on it 👍.

Until I update, can you try set a TextColor like Black or something else?

[2019-03-27 20:32] vchelaru commented on #106
I will do that. Thanks so much for the rapid response and awesome project!

[2019-03-28 06:21] enisn commented on #105
@vchelaru
Good Catch!
Setting directly property, passes bindable property and affect directly to design.
I'll make that process able to work with bindable property.

[2019-03-28 06:40] enisn commented on #105
https://github.com/enisn/Xamarin.Forms.InputKit/blob/c1f8d4b01a82309780302edd31d848b596c5c0c4/InputKit/Shared/Controls/RadioButtonGroupView.cs#L173

It sends the value in that version. I think problem occours with boxed values. Type of `Value` property is  Object  as **ReferenceType** and you set into it an Enum as **ValueType**,
Can you try change Property Type to Object in your ViewModel ?
* * *

[2019-03-28 09:28] prasad2694 opened #107 "Adding Image to Radio Button"
can i add a image to radio button of selecterview, i am trying to make a radio button for gender and i need to show image of male and female on radio button

[2019-03-28 10:26] Khaon commented on #98
Hello, I was in holliday actually and I couldn't try earlier.

It is working

[2019-03-28 11:55] enisn commented on #106
Can you give me more specified information about that. I couldn't handle that problem when I tried same code with you.

Can something affects from **Resources/values/styles.xml** in your Android project?
Like text color or something else?

[2019-03-28 12:09] enisn commented on #107
It's not possible for now with **SelectionView**. Also customization requeset almost same with #94

* * *
But you can generate two radiobutton manually with following XAML code:

[code]

[2019-03-29 17:12] HelenMamalaki commented on #96
Hi, it works in the latest package, thank you!!

[2019-03-29 19:24] #96 closed

[2019-04-01 09:46] ronakshethia opened #109 "Not Able to change the size of AdvanceEntry"
i am trying to increase the height of entry but there is not effect of change on IOS

![image](https://user-images.githubusercontent.com/35444818/55318737-1886f680-5491-11e9-8e17-405119814abc.png)

[2019-04-01 12:05] enisn commented on #109
I'll find the solution of your problem and update it

[2019-04-02 04:01] hjavaher opened #110 "Any way to add a button to where the icon would be?"
## My Question Here ?
Is there any way to add a button to the advancedEntry. I would love to put a button where the icon would be on the right hand of the entry. Is there any way?

[2019-04-02 06:40] enisn commented on #110
That would be awesome feature.
I'm adding that `TODO List` and will include into InputKit.

* * *
Until I'll release new version you may try following steps:

**XAML file**
[code]

**CS file**
[code]
**Output**
<img src="https://user-images.githubusercontent.com/23705418/55381112-dd390600-552a-11e9-9fc7-32e891b5c8b9.png" alt="InputKit Button in AdvancedEntry" width="480" />

[2019-04-02 06:56] hjavaher commented on #110
Man, buddy, you're on top of this. I don't know any other project that the owner is this responsive. Thank you and I will for sure try that!

[2019-04-02 06:58] hjavaher commented on #109
I'm seeing the same issue just creeped up. Updated to the latest version and just today noticed that the height was shrunk down to minimum

[2019-04-02 07:01] ronakshethia commented on #109
is it fixed up now ?

On Tue, Apr 2, 2019 at 12:28 PM hjavaher <notifications@github.com> wrote:

[2019-04-02 07:05] hjavaher commented on #109
I don't believe so, I can't seem to find a solution. Have been banging my head trying to find one. I'm sure @enisn will come through soon, he's amazing!

[2019-04-02 07:14] enisn commented on #110
Thank you for your interest 😄
I'll add this button option as a feature in future versions. But you can use that solution for now 👍

[2019-04-02 10:45] J3nova1628 opened #112 "Checkbox text on the left instead of the right?"
Is it possible to have the text on the left of the checkbox instead of the right ?

[2019-04-02 11:05] enisn commented on #112
@J3nova1628 There is awaiting a Pull Request about that #111

Until merge will be completed. You can try to set `FlowDirection` as `RightToLeft` to to that easily.

[code]

[2019-04-02 11:09] J3nova1628 commented on #112
@enisn I have tried this but nothing is happening

[2019-04-02 11:15] J3nova1628 commented on #112
@enisn Apologises it worked after i rebuilt the solutions

[2019-04-02 15:12] #112 closed

[2019-04-03 08:47] enisn commented on #112
@J3nova1628
It's possible not in [v3.0.6](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v.3.0.6) and later versions.
Just set `LabelPosition` property of CheckBox and magic happens.

[code]

[2019-04-03 09:31] piratecharly opened #113 "I cannot initialize Plugin in Android and icon's RadioButtons don't show"
## My Question Here ?
I cannot initialize plugin in Android because when I write Plugin.InputKit after this, i haven't the posibility about reference Platform for initialize in Android.
And i believe for that reason I cannot see the icons on RadioButtonGroupView.
Althought,  I can see the text that i put in radio button and funcionality works fine, but not appear the icons.

[code]

[2019-04-03 10:30] enisn commented on #113
Can you share Android version which issue occours in?

[2019-04-03 11:21] #99 closed

[2019-04-04 08:24] piratecharly commented on #113
All its fix it. That it produces because my target platform was android 8.0 and folder yo android search 8.1.
I fix it changed the target platform to Android 8.1.
Thank you so much.

[2019-04-04 19:53] huxaiphaer opened #114 "Dropdown view is too big on IOS"
**Describe the bug**
Dropdown size is too big on IOS

**To Reproduce**
Steps to reproduce the behavior:
1. After installing the Nuget package in the IOS project.
2. Then run the application on the simulator.

**Expected behavior**
The dropdown should be of the same size with the one on Android

**Screenshots**
<img width="354" alt="Screen Shot 2019-04-04 at 22 53 18" src="https://user-images.githu

[2019-04-04 20:37] huxaiphaer commented on #54
In IOS it's working but it's too big.

[2019-04-04 22:56] hjavaher commented on #109
Any updates on this? Also, It would be awesome to get a brief release note with each update :)

[2019-04-05 07:27] enisn commented on #109
I've just started finding solution of it

[2019-04-06 17:44] vchelaru commented on #106
If I explicitly set the TextColor to Black then all works okay:

[code]

I don't know enough about how styles.xml works to know if something is overridden there. But I don't think there's anything there that could impact this:

[code]

Anyway, the workaround of setting the text color is good enough for me because I plan on doing that anyway. Not sure if it's worth keeping this open at this point o

[2019-04-06 17:54] vchelaru commented on #105
Yes, as you guessed, if I use a reference type instead of an enum then everything works great. Unfortunately  I use enums throughout my app and the RadioButton control is usually the UI element that I use when I have to represent enum data to the user, so I won't be able to use that as a workaround in my app.

[2019-04-07 16:07] araujoCRS opened #115 "CheckChangedCommand event is not called in a BindableLayout, for dynamically created checkboxes. Xamarim Forms 3.6.0.293080."
**Describe the bug**
CheckChangedCommand event is not called in a BindableLayout, for dynamically created checkboxes. Xamarim Forms 3.6.0.293080.

**To Reproduce**

[code]

**Expected behavior**
Call function:

[code]

**Smartphone (please complete the following information):**
 - Device: Xiaomi MI 8 lite
 - OS: Android 9
 - Version MIUI Global 10.2

**Additional context**
Create a dynamic checkbo

[2019-04-08 23:38] LeoJHarris opened #116 "Ability to Focus next AdvanceEntry"
Hi there,

Regarding the AdvancedEntry this is a feature request to be able to declare a "Next" AdvancedEntry that if the keyboard has the Return Key Type 'Next' pressed in the device keyboard it will put focus to the next AdvancedEntry, I could potentially add this feature if you would like it / think it might be useful? If the project doesn't already have that.

[2019-04-09 05:50] enisn commented on #116
@LeoJHarris
Yeah, currently it skips the next AdvancedEntry in same context. But keyboard closing and re-openning because button is return. I'll make it **Next** button instead of Return to ignore closing keyboard.

[2019-04-09 09:55] ronakshethia commented on #109
Hi Enis,
Any Update with above issue fix ?

On Fri, Apr 5, 2019 at 12:57 PM Enis Necipoglu <notifications@github.com>
wrote:

[2019-04-09 11:16] ronakshethia opened #117 "Radio Button in IOS are rendering Big"
i have provided same height and weight for selector view still in IOS radio button are displayed in bigger size

![image](https://user-images.githubusercontent.com/35444818/55796201-00ddec80-5ae7-11e9-90c7-20031ed25645.png)

[2019-04-09 15:58] enisn commented on #117
It looks it was happened at last release.
 I'm working on it

[2019-04-11 19:49] vchelaru commented on #117
I've also hit this :( Any updates on a fix, as we're close to releasing a version of our app that has this problem on iOS.

[2019-04-11 22:49] vchelaru commented on #106
If it helps any, I found that even if I set the text color explicitly, it doesn't work if I use the RadioButton constructor that takes a string.

If I set the color *then* set the text, everything works okay...there's definitely something going on here but it's hard to track down exactly.

[2019-04-12 17:39] vchelaru commented on #105
So I looked into the code and I actually don't believe it has to do with enums/boxed values. The reason is I'm looking at the code in RadioButtonGroupView:

[code]

That seems to only react to clicks, as opposed to the `IsChecked` property changing.

I think the solution is to have a separate event on when the checked changes, since clicking is not the same thing as changing the checked value.

Wh

[2019-04-13 14:30] vchelaru commented on #105
Fixed with my PR linked above

[2019-04-13 14:30] #105 closed

[2019-04-15 08:41] Giorgi opened #119 "Background Color of checkbox not using BoxBackgroundColor"
**Describe the bug**
Background color of the checkbox uses BackgroundColor property instead of BoxBackgroundColor

**To Reproduce**
Steps to reproduce the behavior:
1. Set BoxBackgroundColor to some color, for example Red
2. The background color is not red

**Expected behavior**
The background of checkbox should be red

**Smartphone (please complete the following information):**
 - Version 3.0.7

[2019-04-16 14:21] Juansero29 opened #120 "Xfx.Controls can't be used along Xamarin.Forms.InputKit"
**Describe the bug**
When using the NuGet package Xamarin.Forms.InputKit (v3.0.7) and Xfx.Controls(v1.2.1) and trying to deploy an app, I get an error from registration of native controls since they have the same name. I have checked in both NuGets and they do have the same name, but not only that, they have the same code!

XfX:
![image](https://user-images.githubusercontent.com/19156405/56216871-

[2019-04-16 17:39] bmarinov opened #121 "Compatibility Issues with Xamarin Forms v3.6.0"
**Describe the bug**
The latest version of the NuGet seems to be incompatible with Xamarin.Forms v3.6.0. It has a dependency on MonoAndroid v9.0.
I am getting multiple XA0106 warnings in the build output. Xamarin.Forms.InputKit seems to have a dependency on MonoAndroid v 8.1, probably thats causing the warnings.

Sample warning (full output below):
`3>C:\Program Files (x86)\Microsoft Visual Studio

[2019-04-17 10:17] enisn commented on #120
[MBAutoComplete](https://github.com/MarcBruins/MBAutoComplete) is common control for ios. Register name can be changed for prevent conflicts as soon as possible

[2019-04-17 10:31] enisn commented on #121
Yeah, that's right.
The package build must target monoandroid90.

[2019-04-17 10:44] enisn commented on #117
I think this issue happend after merged pull request  #108 .
Nowadays I'm little busy. I'm Sorry about that much time waiting.
I'm working on it.

[2019-04-17 10:56] enisn commented on #117
@ronakshethia  @vchelaru
As I can see, you can set `CircleSize` property and you can change your own CircleSize as  you wish until Fix will be released.

[2019-04-17 10:58] enisn commented on #117
I've found!
The problem occured from default value of CircleSizeProperty
https://github.com/enisn/Xamarin.Forms.InputKit/pull/108/commits/37407d29262df78526964c60fa50a1bc136d21a6#diff-3017d6ccc803e43084d76bfa83b1ec7aR219

[2019-04-17 11:03] enisn commented on #119
@Giorgi  Yeah, You're right. A mistake was happened while updating v3.
I'm working on it

[2019-04-17 11:38] enisn commented on #119
@Giorgi
Can you check [v3.0.8](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.8)

[2019-04-17 11:39] enisn commented on #121
@BMarinov
Can you check [v3.0.8](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.8) if problem continues or not?

[2019-04-17 11:40] enisn commented on #117
Can you check [v3.0.8](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.8),? Default value of CircleSize is `-1` now.

[2019-04-17 11:41] enisn commented on #120
Can you try build with new version [v3.0.8](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.8) ?

[2019-04-17 11:46] enisn commented on #106
@vchelaru I still can not handle this issue. Can you make it in a new project and share source code ?

[2019-04-17 16:04] BMarinov commented on #121
@enisn
I just tried v3.0.8 and sadly I still get the warnings. In addition to that, the NuGet is still being listed as having a dependency on MonoAndroid v8.1. The latter might just be a Nuspec thing though, im not sure.

[2019-04-17 19:34] Juansero29 commented on #120
I will try that tomorrow!  I'll keep you updated

[2019-04-18 06:59] enisn commented on #121
Oh right!
Nuspec dependency was old. Commit 7007839 should solve that issue.
it is included in [v3.0.8.1](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.8.1)

[2019-04-18 11:55] BMarinov commented on #121
I'll give it a try tonight and let you know. Cheers!

[2019-04-18 12:59] ronakshethia opened #122 "Height of Advance Entry is Not Changing in IOS"
I am trying to set the height of advance entry for IOS but even after giving the height there is no the height remains same

please let me know how to fix it

![image](https://user-images.githubusercontent.com/35444818/56362580-d804d800-6207-11e9-803d-20ede5e62fd1.png)

[2019-04-19 18:11] blockfan7 opened #123 "Can't use this package."
I installed Xamarin.Forms.InputKit 3.0.7. And it was working well.
Today, I updated it to 3.0.8.1.
Suddenly following error occurred
![error](https://user-images.githubusercontent.com/41097491/56437541-171b5200-630a-11e9-9e62-9b8a95c7b54d.png)
.

**> #CS0234 The type or namespace name 'Platforms' does not exist in the namespace 'Plugin.InputKit' (are you missing an assembly reference?)**

As I sai

[2019-04-20 09:43] enisn commented on #123
After v3.0.8 ,
InputKit Mono Android target changed to 9.0.

Can you try to set your Android project's Target Framework as Android 9.0?

[2019-04-20 09:44] enisn commented on #117
If issue occurs again just re-open it. I think it was solved.

[2019-04-20 09:44] #117 closed

[2019-04-20 09:44] #119 closed

[2019-04-20 09:45] #107 closed

[2019-04-20 11:49] blockfan7 commented on #123
Thank you.I changed the Android Framework and it's working.

[2019-04-20 15:44] tjdennis commented on #123
I'm having the same problem. Unfortunately, VS2019 doesn't provide an Android 9 choice to target to.  I found the API 28 SDK in the sdk manager, but there are no API 28 build tools there to install.  I see them in the unsupported google repository, but until Microsoft adds them to its own android sdk repository, I'm not sure this package can be used anymore from VS until they update.

[2019-04-22 15:32] gcouchbit opened #124 "Radio Button System.TypeInitializationException"
I have recently started having an issue with radio buttons.   I am using vs2019.    I have implemented the nugget with the exact code from the documentation and i get the following exception.  I have been using the nugget for 6-8 months and it has worked wonderfully.    Since the update to vs2019 and the update to 3.0.8.   This issue has occurred.   It occurs on iOS and Android.   The other contro

[2019-04-23 04:51] jlhernandez1388 commented on #124
I'm having the same exception since the last Xamarin.Forms update. Any luck yet?

[2019-04-23 05:28] ronakshethia commented on #122
@enisn  any update regarding this ?

[2019-04-23 06:12] jlhernandez1388 commented on #124
Apparently the issue has to do with iOS 12.2 it works ok in iOS 12.1.

[2019-04-23 07:02] mabdollahiasl commented on #124
I have the same problem, what should I do :(

[2019-04-23 08:58] enisn commented on #124
That should be fixed at [v3.0.10](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.10)

Can you check again ?

[2019-04-23 08:58] enisn commented on #123
Both of Mono Android 90 and Mono Android 81 were targetted at [v3.0.10](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.10)

[2019-04-23 08:59] enisn commented on #121
Added Mono Android 90 and 81 support at same package and released in [v3.0.10](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.10)

[2019-04-23 12:09] mabdollahiasl commented on #124
No, Unfortunately the problem is not solved!

[2019-04-23 12:34] gcouchbit commented on #124
Confirmed.   I still receive the same exception on both iOS and Android using 3.0.10.

[2019-04-23 15:54] jlhernandez1388 commented on #124
Still same problem!

[2019-04-23 21:18] cortensinger commented on #124
Same problem on my end

[2019-04-24 14:37] keithabramo opened #125 "Checkbox IsChecked Two Way Binding not working"
**Describe the bug**
When setting the IsChecked property to something like` IsChecked="{Binding IsSelected, Mode=TwoWay}"` then updating the IsSelected property in the viewmodel, the checkbox is not changing to checked/unchecked accordingly.

**To Reproduce**
Steps to reproduce the behavior:
1. Bind a property to the IsChecked attribute of the Checkbox
2. Change that property in the viewmodel via

[2019-04-25 00:23] abastias commented on #124
I am having the same issue (just RadioButton) with iOS and Android. There something in the installation/init that makes this issue. I can not find. However I downloaded the demo app, and works fine...

This is the error:

Unhandled Exception:

System.TypeInitializationException: The type initializer for 'Plugin.InputKit.Shared.Controls.RadioButton' threw an exception.

[2019-04-26 08:01] piratecharly commented on #124
Same problem!  Fix it, pleae.

[2019-04-26 08:02] stavroaudi commented on #124
Same here

[2019-04-26 21:05] zalza13 commented on #124
Same for me!! :(

What version of Xamarin.Forms do you have?

System.TypeInitializationException: The type initializer for 'Plugin.InputKit.Shared.Controls.RadioButton' threw an exception

[2019-04-26 21:51] zalza13 commented on #124
@enisn @stavroaudi @piratecharly @abastias @cortensinger @gcouchbit @mabdollahiasl

---> I found the error! .. **the solution was not yet published in the nuget package**. Please, look at the image below. The package dll 3.0.10 **does not contain the commit fix** c6ab5209f91edda375b742edca3dc72d6c23c6cd

![radiobutton_error](https://user-images.githubusercontent.com/9556967/56838318-2c7d0880-6843-

[2019-04-27 09:35] enisn commented on #124
@zalza13
oh yes, sorry about it. It haven't published yet.

[2019-04-29 13:27] Juansero29 commented on #120
I haven't have got the time yet to test this out, but it should probably work! I think it is safe to close the bug,

[2019-04-29 13:27] #120 closed

[2019-04-29 16:09] zalza13 commented on #124
Thanksss!! there is not error any more!!!

[2019-05-01 08:43] ronakshethia opened #126 "Not Able to change the Height of Autocomplete Entry"
text inside the Autocomplete Entry Cuts out when the height of the entry is reduced

here is screenshot

![image](https://user-images.githubusercontent.com/35444818/57010598-2314e700-6c1b-11e9-9238-43364003276b.png)

could you please help me how can i remove the padding from inside so that the text appears in correct manner on reducing the size

[2019-05-01 22:44] rob7z5 opened #127 "Unable to set custom image for RadioButton"
The goal is to have a white background on the circle portion of the radio button and since I could not find a property that would show the background as white and still have the border I attempted to create custom images. PNG circle with solid border and white fill with no background outside the circle.

Create the control from codebehind like so:
var rb = new RadioButton();
// these are cross pla

[2019-05-02 06:16] #124 closed

[2019-05-02 06:40] enisn commented on #127
@rob7z5
Short answer is **unfortunately it's not possible using two color in images**. [IconView](https://github.com/enisn/Xamarin.Forms.InputKit/blob/master/InputKit/Shared/Controls/IconView.cs) fills all pixels with color of an image. That is used logic to change colors. I think a property can be added as `IsFillColorActive` or something like this.

- - -

But you can try add this:
[code]
Each e

[2019-05-02 06:47] enisn commented on #125
@keithabramo
Can you share a part of your code?
I couldn't handle same problem

[2019-05-02 13:04] prasad2694 opened #128 "How Can i Remove the Floating Placeholder from AutoCompleteEntry"
i have a Customized Entry and i tried rendering my customized entry but still could not achieve what i needed,
i just know is it possible to remove the floating placeholder and space for placeholder and make the Entry look simple

this is something to do with TextInputLayout, i think changing the layout inside this would work but i am not sure what to change

please suggest me what can be done

[2019-05-03 01:41] LeoJHarris opened #129 "Mask on advanced entry"
Hi, any chance we could see the ability to mask on the advanced entry i.e. "XXX-XXX" etc

[2019-05-03 11:03] enisn commented on #129
There is no mask option in latest release. It would be perfect feature. I'm adding this one to enchangement queue 👍  😄

[2019-05-04 06:33] minhtk1 commented on #114
@enisn fix bug?

[2019-05-07 01:57] LeoJHarris opened #130 "Focused eventhandler not being thrown - advancedentry"
Hi @enmisn I am using your advanced entry and I am having trouble raising the Focused EventHandler. Subscribing to the Focused event and tapping into the advanced entry is not raising the subscribed event

[2019-05-07 02:54] LeoJHarris opened #131 "Add new ValidationMessageTextFontSize"
Hi @enisn it would be great to be able to set the Text Size for the Validation Message, could you add new bindable property for this? Thanks.

Great work on the plugin!

[2019-05-07 15:42] BMarinov commented on #121
Hi @enisn sorry for the late reply. I finally got around to reproducing the issue in a new project.
The incompatibility warnings are caused by Prism.DryIoc.Forms :(.

In other words whenever Prism (Forms) and InputKit are installed in a project I get the warnings. What would be the correct way to address the issue?

[2019-05-09 02:43] LeoJHarris commented on #129
@enisn great! I would also be nice if the mask was somehow included in the validation, perhaps added to the annotation type

[2019-05-12 13:05] AhmedAdelGadElkareeem opened #132 "RadioButtonGroupView in List View"
## My Question Here ?
I use RadioButtonGroupView in list view but you i can select all radio button not only one .
### Also I tried that:
[code]

[code]

[2019-05-12 13:08] AhmedAdelGadElkareeem commented on #132
soory update xaml to this
<input:RadioButtonGroupView>
                     <StackLayout Orientation="Horizontal" Margin="0,10,0,5">
                                            <Label Text="{Binding HelpOrderName}" TextColor="Black"
                                                   HorizontalOptions="FillAndExpand"
                                                   FontSize="13" FontFamily="serif

[2019-05-12 13:08] #132 closed

[2019-05-12 13:10] AhmedAdelGadElkareeem opened #133 "RadioButtonGroupView in List View"
## My Question Here ?
i use RadioButtonGroupView in list view but i can select all radio buttons not only one

### Also I tried that:
Ad sit ut blandit dolore rebum dolore erat velit gubergren invidunt rebum ipsum stet amet takimata voluptua facilisi magna aliquyam kasd est et et eirmod diam sea invidunt sea duo ipsum illum invidun.

[code]

[code]

[2019-05-12 13:20] AhmedAdelGadElkareeem commented on #133
<ListView x:Name="OrdersListView" HasUnevenRows="True" Margin="10,5,10,0"
                          SeparatorVisibility="None" HeightRequest="200">
                    <ListView.ItemTemplate>
                        <DataTemplate>
                            <renders:ExtendedViewCell SelectedBackgroundColor="White">
                                <StackLayout Margin="10,0,10,0">

[2019-05-13 02:30] hjavaher commented on #109
@enisn
Any updates to this buddy. I was working just fine for me until I updated to the version around this time. I just updated to the latest and still same. All of the Inputs that I have is super slim and I can't make them regular size

[2019-05-13 15:22] Plaba commented on #133
Hello @AhmedAdelGadElkareeem,
I think the problem is that you're putting each RadioButton in it's own RadioButtonGroupView (RBGV). Only one RadioButton can be selected per RBGV, but if you have multiple RBGV's, nothing prohibits all the RadioButtons from being selected.

To fix your problem, you need to put all of the RadioButtons in one RBGV.

I hope I'm being clear,
--Plaba

[2019-05-14 13:11] Hakim83 opened #134 "FontFamily property for Checkbox is not Bindable"
FontFamily property of Checkbox is not bindable,
It works well for Radio button however.
for example:
<controls:CheckBox FontFamily="{Binding myFontName}" ... /> fail to compile, however
<controls:CheckBox FontFamily="some-font-name" .../> works well

[2019-05-14 20:32] LeoJHarris commented on #134
Same for Placeholder for AdvancedEntry...

[2019-05-14 20:33] LeoJHarris commented on #134
error : Position 65:25. No property, bindable property, or event found for 'Placeholder', or mismatching type between value and property.

[2019-05-14 22:08] LeoJHarris opened #135 "Annotation URL"
Hi, feature request for annotation that includes URLs, the method Uri.IsWellFormedUriString() could be used as validation in code behind rather then using a RegEx for this as it would prob be more reliable

[2019-05-16 12:14] ketanparekh commented on #113
Hi I am facing the same issue.

When I add following line in MainActivity.cs

 Plugin.InputKit.Platforms.Droid.Config.Init(this, savedInstanceState);

It Gives me error.
'object' does not contain a definition for 'Config' and no extension method 'Config' accepting a first argument of type 'object' could be found (are you missing a using directive or an assembly reference?) (CS1061) (GoAVM.Android)

[2019-05-16 12:49] enisn commented on #113
Which InputKit version are you using ?

[2019-05-16 12:51] enisn commented on #133
Yeah, @Plaba  is right. If you need generate radio buttons dynamicly you can use **SelectionView**
There is a docuement about it:
- [Adding dynamicly Radio Buttons](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Adding-dynamicly-RadioButtons)

[2019-05-16 12:52] enisn commented on #131
I've just added to enchantments queue this issue. 👍

[2019-05-16 12:53] enisn commented on #130
It seems a bug, I need to investigate it.

[2019-05-16 12:54] AhmedAdelGadElkareeem commented on #133
Already i put all radio buttons in one Radio group view check my Call code
added above you will see what i mean

On Thu, May 16, 2019, 2:51 PM Enis Necipoglu <notifications@github.com>
wrote:

[2019-05-16 12:55] enisn commented on #128
It's an experimental control. I couldn't spend enough time to complete **AutoCompleteEntry**. But I can say, that floating label comes from native control. There is no customization on native control. It just renders native one.
I'm adding that to enchantment queue, I'll add more customization options to AdvancedEntry.

Best Regards 👋

[2019-05-16 12:57] enisn commented on #106
Problem occurred by constructor with text paramater. It's marked as obsolete.

[2019-05-16 12:57] #106 closed

[2019-05-16 12:58] enisn commented on #135
A new AnnotationType can be added.
I just added tihs to enchantment queue

[2019-05-18 09:25] sagarmp02 opened #136 "System.InvalidCastException: Specified cast is not valid?"
When I am binding checkbox dynamically it is giving me error like **"System.InvalidCastException: Specified cast is not valid."**

Following is what I am trying

`<StackLayout x:Name="roll"  HeightRequest="0">
                        <SearchBar Placeholder="Type to Search" TextChanged="SearchDropDown"></SearchBar>
                        <ListView  x:Name="SearchDropDownList" ItemsSource="{Binding

[2019-05-22 12:11] ahmedelsyaed opened #137 "HorizontalTextAlignment for AdvancedEntry"
using Xamarin.Forms.InputKit v 3.0.11
HorizontalTextAlignment property is not presented.

[2019-05-22 12:17] ahmedelsyaed opened #138 "RTL work Wrong"
using Xamarin.Forms.InputKit v 3.0.11

as shown in the next example

[code]
the FlowDirection Property for the control always appears  LeftToRight in spite of the setting it RightToLeft.

[2019-05-27 01:25] LeoJHarris commented on #116
@enisn That'd be great because if there are next AdvancedEntry in the same context show the next icon then should prob display the next icon vs done, it would actually be nice to be able to manually set the return type key, as there are other beyond done and next.. i.e. search etc

[2019-05-27 02:17] LeoJHarris opened #139 "Cursor color on advancedentry"
Hi there, just wondering how one can set the cursor color on the AdvancedEntry? I was trying some ways to set the color in styles.xml but had no luck

[2019-05-27 02:23] LeoJHarris commented on #139
Cursor color seems to stick to the TextColor

[2019-05-29 19:42] vchelaru opened #140 "RadioButton does not render the circle/selection in UWP"
**Describe the bug**
Radio buttons (which render properly on iOS and Android) do not render properly on UWP.

**To Reproduce**
1. Create a UWP project
2. Create a page
3. Add radio buttons to the page
4. Run the app in UWP
5. Observe that radio buttons do not show their left-side graphics, but text does render

Additional information: The radio buttons do function properly - they can be checked an

[2019-05-31 05:00] cortensinger commented on #140
Just want to say that I am experiencing the same bug with UWP. I know that support for UWP is officially "EXPERIMENTAL" but would love to see this fixed :) thanks

[2019-06-07 12:44] elsi13 commented on #125
I Have the same problem.

`<input:CheckBox Text="{Binding Name}" Type="Check" CheckChangedCommand="{Binding Source={x:Reference VanInventory}, Path=BindingContext.ToggleCommand }"  CommandParameter="{Binding .}"
 IsChecked="{Binding Checked}" StyleClass="VanLabel"/>`

where Checked is my boolean value; and I have function for the command to toggle the boolean:

`        public async void ToggleCom

[2019-06-07 12:48] acaliaro commented on #125
In XF4.1 should exist the "official" checkbox

[2019-06-11 09:53] davidbuckleyni opened #141 "Radio Button"
Love your controls quick question how does one get the selected item text in the code behind.

[2019-06-16 19:29] enisn commented on #141
Are you asking about getting from SelectionView or RadioButtonGroupView?

I think [this tutorial](https://github.com/enisn/Xamarin.Forms.InputKit/wiki/Adding-dynamicly-RadioButtons) may help you

[2019-06-16 19:30] enisn commented on #140
UWP is not offically supported. I just merge new Pull Request for UWP.

[2019-06-16 19:35] enisn commented on #136
Yeah that's the right answer @Khaon

[2019-06-16 19:35] #136 closed

[2019-06-16 19:36] enisn commented on #138
RTL doesn'T work right on AdvancedEntry. It works on other componenets but AdvancedEntry. I'm tagging it as **Bug**

[2019-06-17 11:58] divinechy opened #142 "No drag event for Advanced slider"
While sliding with advanced slider I want to return the current value of the slider on drag completed and us it for other mathematical computation, but the advanced slider does not have such event.
Please how do I go about this?
Or is there a work around it?
I tried Pan gesture, Swipe gesture and Tap gesture but they did not work.

[2019-06-17 13:25] jiribanas commented on #109
If you set the **IconImage** property to a transparent PNG, the text field height will grow to accommodate the image. You can change the size of the image to make the text field smaller or larger. I am using it as a workaround until the issue is fixed.

[2019-06-20 14:52] J3nova1628 opened #143 "Advanced Entry no option to change Title Text Color?"
Hi, I need a way to change the title color from black to white on the advanced entry?

can anybody help?

[2019-06-27 09:59] eliyasbaby opened #144 "App is crashing when Advance Entry Field is Empty"
**Describe the bug**
`<input:AdvancedEntry
                    x:Name="Goal"
                    TextColor="Black"
                    Text="{Binding SelectedJob.Goal}"
                    IsRequired="True"
                    Annotation="DigitsOnly"
                    Title="Goal:"
                    Placeholder="Enter Goal"
                     BorderColor="#001f3f"
                    />`
I a

[2019-06-28 06:50] enisn commented on #144
You're right. There is no null check to converting your binding type.

It should return default of binded type while entry field is empty instead of null.
I'm working on it.

[2019-06-28 06:58] enisn commented on #143
@J3nova1628
Can you try adding following line in your **App.cs** before setting MainPage:
[code]

This will be applied to entire labels in your project.

[2019-06-28 07:21] eliyasbaby commented on #144
@enisn can we expect this fix very soon?..This will be very helpful!...

[2019-06-28 07:27] enisn commented on #144
https://github.com/enisn/Xamarin.Forms.InputKit/blob/21bee138fe750d2bbbd4d46376a04ad9f618bbd7/InputKit/Shared/Controls/AdvancedEntry.cs#L434
It just notifies with **SetValue()** method from BindableObject. There is not a harcoded convert or return here.
The AdvancedEntry doesn't know type of what you bind.

[2019-06-29 21:11] davidbuckleyni opened #145 "Radio button inside a dialog kit popup and text box ?./"
I love your popup and using it with input kit makes it so easy but I have a requirement where I required a radio button to let the user pick if it's a negative adjustment or a positive adjustment and then enter the qty in the text box is it possible to also have a radio button in the same popup

It's here I need a radio button as well if that is possible
var resultQty = await Plugin.DialogKit.Cros

[2019-06-29 21:45] davidbuckleyni opened #146 "AutoCompleteEntry ( Experimental )"
In the autocomplete can you have more than two columns and if so can they both be searchable eg code and description for a common lookup

[2019-07-01 10:40] #77 closed

[2019-07-01 11:11] enisn commented on #145
@davidbuckleyni
DialogKit is too old package. It depends on Inputkit `v2.x.x`,
Just try use it with InputKit `v2.3.8`, this will fix the problem.

---

I can update DialogKit for InputKit `v3.x.x` later. But this is solution for now.

[2019-07-01 19:49] aismaniotto opened #148 "Constructor of the RadioButton not show the string value option."
**Describe the bug**
If the RadioButton is instantiated with parameters constructors (by code behind), the values will be setted, but the option will not show.

**To Reproduce**
Steps to reproduce the behavior:
1. Instantiat a RadioButton with some parameter by the code behind.
2. Add to Stacklayout or RadioButtonGroupView
3. Run the code
4. No options will be show, just the Radio icon

**Expected

[2019-07-02 10:57] enisn commented on #148
I think this is related with #106

[2019-07-02 10:59] enisn commented on #148
Which constructor are you using?

This one:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/master/InputKit/Shared/Controls/RadioButton.cs#L86-L96

or this one:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/master/InputKit/Shared/Controls/RadioButton.cs#L103-L109
Last one is already marked as **obsolete** and it's not stable to use.

[2019-07-02 11:24] aismaniotto commented on #148
Seems similar with this issue. I tested with both constructors and get the same result. The workaround I find is use the empty constructor and in sequence, attribute the properties.

[2019-07-02 12:15] enisn commented on #148
@aismaniotto
OK, I'm labeling it as bug, and add to bug solving queue.

Until the solution of problem can you use object initializer:

[code]

[2019-07-04 06:19] SAISUDHEERREDDY commented on #144
@enisn  Hello Enisn ,
 I'm also facing same issue , any update on this  issue , if this issue will fix it will be very help full for me  .InputKit is  awesome Ui
Thank you

[2019-07-04 06:21] SAISUDHEERREDDY commented on #144
@eliyasbaby  did u find any solution on this issue

[2019-07-04 11:09] davidbuckleyni opened #149 "Trying to increase the height of the control"
I tried to increase the height of the radio button just for pure example as below but then it disappears of the screen?.
   <input:RadioButtonGroupView x:Name="rbNotiationType">
                <input:RadioButton Text="+" HeightRequest="20" Scale="10" x:Name="rbPostive" />
                <input:RadioButton Text="-" HeightRequest="20"  Scale="10" x:Name="rbNegative" />

            </input:RadioBu

[2019-07-08 03:31] LeoJHarris opened #150 "Advanced Slider (range)"
Hi would be super cool to be able to have a range within the slider, something like the below

![android](https://user-images.githubusercontent.com/5468757/60781175-63519200-a195-11e9-92ee-7defbfecaacd.png)

[2019-07-08 03:35] LeoJHarris commented on #134
Also had the same issue on MaxValue on AdvancedSlider, this seems to apply to a couple of components where some properties are fine and others are not.

[2019-07-08 13:06] kubaizi commented on #19
Plugin.InputKit.Shared.Controls.RadioButton.GlobalSetting
not working for me
i try deleting bin/obj
still not working

[2019-07-09 10:16] stewartsims commented on #50
Also curious on when UWP support will be added. @enisn Do you have an idea of would be needed to add this support? Could it be something another collaborator could help with?

[2019-07-12 11:35] enisn commented on #150
Unfortunately AdvancedSlider is not suported ranges currently.
I'm adding that to feature list. But I can't say when will be done.

[2019-07-13 06:36] sylendra7 opened #151 "Changing BoxSize and CircleSize in SlectionView"
Hi ,

How to Change BoxSize or CircelSize in the SelectionView control.

Regards
Sylendra

[2019-07-13 08:57] enisn commented on #151
Hi @sylendra7
Have you ever tried setting GlobalSettings like that:

in you App.cs before setting MainPage
[code]

This should work, **GlobalSetting** will applies that configurations to  all controls in entire your app.

[2019-07-13 09:03] enisn commented on #149
You should try increasing size of circle and font via using **CircleSize** and **TextFontSize** instead of using **Scale** and **HeightRequest**:
[code]

***

Or if you want to increase **only line height** without resizing componenets, jsut give a little bit padding:

[code]
This will increase line height, radiobuttons will stay far from each other.
Or you can use **Spacing** property of RadioBut

[2019-07-13 10:45] sylendra7 commented on #151
Hi thanks for your reply it is not working...

[2019-07-13 11:05] sylendra7 commented on #151
Hi enisn ,

May I know how many days it will take to add this feature...?

Regards
Sylendra

[2019-07-15 05:56] dhpanteon opened #152 "Xamarin WPF"
Is that supports Xamarin WPF?

[2019-07-17 08:45] AhmedAdelGadElkareeem commented on #114
@enisn this bug not fixed yet :( :(

[2019-07-17 15:02] enisn commented on #19
You need to use that before setting MainPage in **App.cs**,

[2019-07-18 09:19] MoeHamdan opened #153 "Image Size not changing it is too large"
**Describe the bug**
The image icon on the right is too large I cannot seem to resize it.

**Expected behavior**
It should resize according to the height of the control or at least has its own property

**Desktop (please complete the following information):**
-iOS
-Android

**Smartphone (please complete the following information):**
 - Android: 7.0
 - iOS:  9.3

[2019-08-14 09:21] Amalakalpana opened #154 "CheckBox doesn't Work"
Hi,
I'm using Xamarin.Forms.InputKit.
While Click On CheckBox it Doesn't work Check/Uncheck Function, but when I click on Text It's working. I need to Click on the CheckBox Function.

I'm using this code,

                <StackLayout Spacing="0">
                    <input:CheckBox Type="Material" Text="Remember me"/>
                </StackLayout>

[2019-08-14 13:00] prakashkborntowin opened #155 "Checkbox Checked Not working"
I used Checkbox in Cross Platform APP
If click Over CheckBox ==>Tick Not showed suppose if i Click over the CheckBox Text Checked is working Tick also showing

[2019-08-26 09:51] Klewerro commented on #94
@enisn  Your solution form above is working, but when I select any RadioButton from SelectionView - style of selected button is going back to default "pink-gray". I have tested it in SelectionView and RadioButtonGroupView with radio buttons, with the same results in both.

[2019-09-06 13:18] ScarlettCode commented on #115
Any progress on this issue?

[2019-09-11 16:48] uksreejith opened #156 "SelectedItem is always null for RadioButtonGroupview?"
Hi,

When I select a radio button the SelectedItem property of the enclosing RadioButtonGroupView is always null. But the SelectedIndex property is set correctly.

Please help. Thanks in advance.

With Regards,
Sreejith Krishnadas

[2019-09-18 10:53] Govern24 opened #157 "Dropdown ItemDisplayBinding"
How can I bind the dropdown list with my own object list data ?

[2019-09-18 14:38] #157 closed

[2019-10-02 11:06] ColdstarJoey commented on #129
Please Add this feature

[2019-10-07 08:39] ThomasCurti opened #159 "CheckBox Material - How to Change cross color"
Hi,

I have a project in Xamarin.

I have a lot of checkbox in a xaml view and I would like to have all of them with the option "material" and set the cross color to white.
However, when I set the material color to orange, the cross color is black, how can I change it to white ?

I tried to set the type to "Check" and set the Color to White and the BoxBackgroundColor to Orange. After the click a c

[2019-10-07 09:14] enisn commented on #159
When you set a color following method decides which color will be cross or icon:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/d294b5802b572b3eb7e1111d63330d5d4d1d6712/InputKit/Shared/Helpers/ColorExtensions.cs#L12

There is no Force color setting property for that.
I think **IconColor** or something like that will be enough for that.

[2019-10-07 09:50] enisn commented on #159
@ThomasCurti
**IconColor** is added to CheckBox in `v3.0.14`

[2019-10-07 12:46] ThomasCurti commented on #159
Nice, thx

[2019-10-07 12:46] #159 closed

[2019-10-11 05:56] kinglionsoft commented on #137
ReturnType property is not presented.

[2019-10-12 16:38] ehsanadeel opened #160 "RadioButton runs fine on iOS simulator, but on iOS device gives exception"
I am using RadioButton in Xamarin Forms project. Currently only having iOS project. The project runs fine on iOS simulator, but when trying to run on iOS device, it give the following exception:

**[MY PROJECT PATH]/iOS/MTOUCH: Error MT2101: Can't resolve the reference 'System.Void System.Drawing.RectangleF::.ctor(System.Single,System.Single,System.Single,System.Single)', referenced from the metho

[2019-10-12 16:40] ehsanadeel commented on #160
Visual Studio for MAC 8.2.1
Xamarin Forms 3.3.0.967586

[2019-10-13 14:28] ehsanadeel commented on #160
Just to update, I was using v3.0.12 that has the above issue. I instead used v3.0.11 of the InputKit and everything worked find in debug and release mode on physical iOS device.

[2019-10-13 14:28] #160 closed

[2019-10-14 03:48] kumarvikram opened #161 "The type or namespace name 'Platforms' does not exist in the namespace 'Plugin.InputKit'"
I am getting build error at following line in MainActivity.cs after upgrading to ver 3.0.13. Ver 3.0.12 is working fine.

`Xamarin.Essentials.Platform.Init(this, savedInstanceState);`

It says

[2019-10-14 06:47] enisn commented on #161
Are you targeting `monoandroid81` ?

[2019-10-14 06:49] enisn commented on #161
https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.13
Monoandroid81 support is ended at v3.0.13 and can you try targeting to `monoandroid90` or above?

[2019-10-14 09:05] kumarvikram commented on #161
Changing the target framework of Android project to Android P resolved this issue.

Thanks a lot.

[2019-10-14 09:05] #161 closed

[2019-10-15 18:49] felipecds opened #162 "System.NullReferenceException Checkbox"
**Describe the bug**
System.NullReferenceException on android

Object reference not set to an instance of an object
  at Plugin.InputKit.Shared.Controls.CheckBox.get_IconColor () [0x0000b] in <f3e264d57ae2481e8cc3b16b62836811>:0
  at Plugin.InputKit.Shared.Controls.CheckBox.UpdateColors () [0x000ad] in <f3e264d57ae2481e8cc3b16b62836811>:0
  at Plugin.InputKit.Shared.Controls.CheckBox.UpdateType (P

[2019-10-16 06:57] #141 closed

[2019-10-17 15:09] stavroaudi commented on #162
Same here, got the problem after updating to 3.0.14

[2019-10-18 10:09] zhanglinx opened #163 "AdvanceEntry add style has errors"
<Style x:Key="DefaultInputStyle" TargetType="inputKit:AdvancedEntry" ApplyToDerivedTypes="True">
                <Setter Property="TextColor" Value="{StaticResource InputDefaultTextColor}"/>
                <Setter Property="BorderColor" Value="{StaticResource InputDefaultBorderColor}"/>
                <Setter Property="AnnotationColor" Value="{StaticResource HightLightBackground}"/>

[2019-10-19 09:53] enisn commented on #125
Sorry for late reply,
I've just checked, It's working two way. If issue continues still please describe more, how is your viewmodel ?

[2019-10-19 09:55] enisn commented on #154
I've just checked. I couldn't catch the problem. Can you sahre more information about it? Which device or OS version?

[2019-10-19 10:05] enisn commented on #152
Created a milestone for UWP support

[2019-10-19 10:05] #152 closed

[2019-10-19 10:51] enisn commented on #162
Can you check [v3.0.15](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.15) Update?
If problem still coninutes feel free to re-open this issue.

[2019-10-19 10:51] #162 closed

[2019-10-19 10:51] enisn commented on #130
Can you check [v3.0.15](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.15) Update?
If problem still coninutes feel free to re-open this issue.

[2019-10-19 10:51] #130 closed

[2019-10-19 10:52] enisn commented on #148
These constructors are deprecated in [v3.0.15](https://github.com/enisn/Xamarin.Forms.InputKit/releases/tag/v3.0.15) ?

[2019-10-19 10:52] #148 closed

[2019-10-19 10:58] enisn commented on #155
Can share more information? About Device Model, OS Version etc.

[2019-10-28 19:54] ScarlettCode opened #164 "SelectionView SelectedItems Binding doesn't work"
**Describe the bug**
SelectedItems is always null. It's possible I'm doing this all wrong but from what I can tell the SelectedItems isn't binding to the view model. The Allergens bind perfectly and the checkboxes show up but selecting checkboxes doesn't populate the SelectedAllergens list. If I pre populate SelectedAllergens it also doesn't check the checkboxes.

XAML

[code]

VIEW MODEL

[code]

[2019-10-29 13:59] pantelisGeo90 commented on #122
Hi, i've had the same issue and i've found a workaround using css.
I am using StyleSheets in my project and have my `general.css` style and my `iosOverride.css` style.
In there i have this piece of code:
[code]
Remember to right click on the file > properties > build action > embedded resource
In your `App.xaml.cs` add this in order to import the css styles:
[code]

If you want to load more than o

[2019-10-29 16:21] justwooper opened #165 "RadioButton doesn't render in Android after I updated xamarin to 4.3"
Hi, I have an app where I use this control and it was showing perfect, until I downloaded all lastes versión, from your tool and Xamarin and now is not rendering, what can I do? thanks

[2019-10-31 13:11] enisn commented on #165
Can you check if there is a log from inputkit assembly in your output window?

[2019-10-31 22:14] justwooper commented on #165
Using version 3.0.12 works great, I will keep this version until is fixed using greater version, thanks

[2019-11-07 06:44] aloptrbl opened #166 "AdvancedEntry Problem when Debugging"
System.NullReferenceException: Object reference not set to an instance of an object
  at Plugin.InputKit.Platforms.iOS.IconViewRenderer.SetImage (Plugin.InputKit.Shared.Controls.IconView previous) [0x000d0] in <881e0f3a1233420eb903d1b797f2d006>:0
  at Plugin.InputKit.Platforms.iOS.IconViewRenderer.OnElementChanged (Xamarin.Forms.Platform.iOS.ElementChangedEventArgs`1[TElement] e) [0x0003f] in <881

[2019-11-07 08:32] ghost opened #167 "Error while adding Init method to Xamarin.Android"
While Adding  Plugin.InputKit.Platforms.Droid.Config.Init(this, savedInstanceState);
It's throwing error which mentioned below;

**Error	CS0234	The type or namespace name 'Platforms' does not exist in the namespace 'Plugin.InputKit' (are you missing an assembly reference?)**

[2019-11-07 15:05] enisn commented on #167
What is your Linker settings? @Sattasundar

[2019-11-08 07:02] Sattasundar commented on #167
Linker settings **"None"**

[2019-11-29 14:46] MarcAlx commented on #167
As temp fix you can revert `Xamarin.Forms.InputKit` back to version `3.0.12` the latest version for me that does not throw this error.

[2019-12-09 11:20] dhpanteon opened #169 "AdvancedEntry Center text align?"
How to make AdvancedEntry Center text align?
HorizontalTextAlignment="Center" property is not available.

[2019-12-12 20:13] mfeingol opened #170 "Issues with RadioButton font size"
**Describe the bug**
Two issues:

1. The TextFontSize field does not support [named font sizes](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/text/fonts#named-font-sizes). cf https://github.com/xamarin/Xamarin.Forms/issues/7664 for an example on how to do this.

2. For some reason, RadioButton does not appear to support styling. E.g. this global style in App.xaml isn't pick

[2019-12-21 10:30] amer2737 opened #171 "Bug on AdvancedEntry when press return button on keyboard"
**Describe the bug**
when finished enter text and press enter button on keyboard the app crash

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'AdvancedEntry'
2. Write on 'some text'
3. Click to 'Enter button on keyboard'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain yo

[2020-01-06 15:52] vhugogarcia commented on #149
I'm trying to increase the height of the advance input by using HeighRequest, however, it is increasing it at all. Should we increase the height with a different property? I would like to set a specific height only.

[2020-01-06 16:32] vhugogarcia commented on #122
Thanks for sharing the solution. This helped me a lot. However when loading the css file from codebehind, it cannot find the file neither using /assets/style.css or assets.style.css

[2020-01-22 16:05] enisn commented on #171
Can you share more information about it and some example code?
Where do you place AdvancedEntry and which type do you use?

[2020-01-22 18:51] enisn commented on #125
Checked again, Two-way binding works fine . If problem occurs again, please re-open this issue with more details.

[2020-01-22 18:51] #125 closed

[2020-01-22 19:02] enisn commented on #154
Just checked again, it works:
![ezgif-7-21e5aa2dc9b1](https://user-images.githubusercontent.com/23705418/72924847-b4f0f100-3d62-11ea-9316-1d13ac412535.gif)

If  problem occurs again, please fee lfree to re-open this issue again

[2020-01-22 19:02] #154 closed

[2020-01-22 19:48] enisn commented on #164
@ScarlettCode
`SelectedItems` bindings are improved with commit 550b749.
You'll see result like below after `v3.1.0` release:

[code]

![ezgif-7-a6bfab8b9e19](https://user-images.githubusercontent.com/23705418/72928502-25027580-3d69-11ea-889b-401c14c68dbb.gif)

[2020-01-22 20:01] #164 closed

[2020-01-22 20:01] #170 closed

[2020-01-22 20:01] #171 closed

[2020-01-22 20:29] mfeingol commented on #170
Thanks for fixing this!

One thing I'm seeing is that the resulting font sizes for RadioButton options seem to be larger than they should be. E.g. to get normal-sized text on Android, I need to use the `Micro` option. Is that by design?

Thanks.

[2020-01-23 21:13] enisn commented on #156
I've just found the bug. If you define type of your property as `object` binding works but other exact types doesn't work for now until fixed.

[2020-01-23 21:20] enisn commented on #166
Can you share sample of your code?
There is 3 type of image source for iOS icon renderer:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/b62c10271d49d678ca527f11033ed38eb46f4896/InputKit/Platforms/iOS/IconViewRenderer.cs#L78-L95

Which type of source do you use for Icon of AdvancedEntry?

[2020-01-23 21:38] enisn commented on #144
Bug couldn't be handled at `v3.1.0`.
Feel free to re-open this issue again if problem occurs again

[2020-01-23 21:38] #144 closed

[2020-01-29 08:44] pantelisGeo90 commented on #122
Hi @vhugogarcia ,

My application namespace is `SuperNotes`. The override css is located inside shared project, under the `Styles` folder.
![image](https://user-images.githubusercontent.com/6824561/73340837-5b615880-4273-11ea-826b-ac2cace1364c.png)

[code]

[2020-01-30 09:52] ChrisPaulKnight opened #178 "AdvancedEntry Height on Tabbed page with FreshMVVM"
On a non tabbed page the AdvancedEntry box is fine . On a Tabbed page the height is very small and I have to request minimum height to display contents and allow input.

Also having to set global text colour to black

[2020-01-30 18:23] enisn commented on #178
@ChrisPaulKnight  can you sahre more information? like which Operation System, resolution of device etc. ?

[2020-02-17 11:52] LITTOMA opened #179 "Failed to set IconColor of Checkbox in xaml."
Tried to set IconColor in xaml like this:
[code]
But failed:

### Also I tried that:
Set IconColor in C# is ok:

[code]

[2020-02-17 15:13] kissurda opened #180 "AdvancedEntry Unfocused event doesn't work"
I created AdvancedEntry in code behind, I subscribed Unfocused event, but didn't work.
Here is my code:

var entry = new AdvancedEntry()
                        {
                            BindingContext = item,
                            ClassId = qItem.QuestionId.ToString(),
                            TextColor = Color.Black,
                            Keyboard = Keyboard.Default,

[2020-02-18 03:18] vhugogarcia commented on #122
That worked very good. Thank you!!

[2020-02-19 13:01] LITTOMA commented on #179
Hello, do you need more information for this issue?

[2020-02-19 19:49] enisn commented on #179
@LITTOMA
Yeah, problem occurs here, because bindable property type is nullable color (`Color?`).

https://github.com/enisn/Xamarin.Forms.InputKit/blob/c8b39b22434236af27aee5fbf23b9f02e825507b/InputKit/Shared/Controls/CheckBox.cs#L204

I'll make it simply `Color`.

[2020-02-23 18:50] technololy commented on #156
true, always had this issue. i tried setting it to object, still was null.

workaround is to get the selecteditem from code behind

[2020-02-26 08:28] saurabh1993-05 commented on #153
Same Issue Dropdown Image size not changing it is too large please help me out.

[2020-03-01 17:34] DK99 opened #181 "AdvancedEntry Annotation RegEx not working"
**Describe the bug**
The bug is that the IsAnnotated Property only checks if the RegEx has one match in the entered Entry. But the RegEx for LetterOnly, NonDigits, DigitsOnly only match a single character. So for example if I would enter "12ABC" in an Entry which has the Annotation set to DigitsOnly, it would return true because the RegEx "[0-9]" matches this string. The same would work for Decima

[2020-03-02 06:54] enisn commented on #181
Released in [v3.2.0](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.2.0)

[2020-03-02 06:54] #181 closed

[2020-03-02 07:27] DK99 opened #183 "AdvancedEntry add primitive Data Types as Annotation"
**Is your feature request related to a problem? Please describe.**
My Problem was, that I wanted to take an AdvancedEntry as an Input for an Int. But the RegEx Version only checks if the entered text is a Number. So the Entered Number could be too long for an Int. The same goes for other types like byte, sbyte and so on.

**Describe the solution you'd like**
I already programmed my solution. The s

[2020-03-02 08:17] enisn commented on #183
Included in [v3.2.1](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.2.1)

[2020-03-02 13:55] DK99 commented on #183
Are you sure? I don't think it is in 3.2.1.

[2020-03-04 11:26] enisn commented on #137
Check [v3.2.2](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.2.2)

[2020-03-04 11:26] #137 closed

[2020-03-04 11:26] enisn commented on #169
Check [v3.2.2](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.2.2)

PR #185

[2020-03-04 11:26] #169 closed

[2020-03-04 11:35] DK99 commented on #183
Included in [v3.2.2](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.2.2)

[2020-03-04 11:35] #183 closed

[2020-03-09 21:00] Informatheus opened #186 "CheckChangedCommand dont working"
**View:**
`xmlns:input="clr-namespace:Plugin.InputKit.Shared.Controls;assembly=Plugin.InputKit"`
...
`<input:CheckBox Type="Check" VerticalOptions="Center" CheckChangedCommand="{Binding CommandCheckChanged}"  IsChecked="{Binding Checked}" Color="{StaticResource CorAccent}"/>`

**ViewModel:**
`public Command CommandCheckChanged { get; set; }
`
...
`CommandCheckChanged = new Command(ActionCheckChang

[2020-03-10 02:10] LinuxAndOracle opened #187 "Hope there is a parameter to control the imgArrow in DropDown"
Your control is very helpful to me. I want to ask if there is a parameter that can control the size of imgArrow in DropDown, or which parameter can be controlled. I hope to get an answer, thank you

[2020-03-19 10:09] prajaktashindeSilicus commented on #187
+1

[2020-03-24 21:36] Kevin-Net commented on #186
I am having the same issue.. CheckChangedCommand not firing.. any update on this? Thanks.

[2020-03-24 21:50] Kevin-Net commented on #186
nevermind.. it is working now.. I cannot use CheckChangedCommand="{Binding CommandCheckChanged}" . I need to change CheckChangedCommand="{Binding Path=BindingContext.CommandCheckChanged, Source={x:Reference Name=MyPageName}} "

[2020-03-25 21:01] pmahend1 opened #188 "SelectedItemChangedCommand not firing event"
**Describe the bug**
`SelectedItemChangedCommand` not firing event in MVVM approach.

**To Reproduce**
Steps to reproduce the behavior:
[code]

In ViewModel its not firing event

[code]

If I do this in code behind it works

[code]

Please check and suggest if issue in my approach

**Expected behavior**
`SelectedItemChangedCommand` should work with a `CommandParameter` in MVVM

**Screenshots**
N/A

[2020-03-27 20:30] enisn commented on #187
After commit 414572c

You have two option.
## First option
Use ArrowIcon property:
[code]

## Second option
You can use following code:
[code]

Inherit from `Dropdown` and make changes on **imgArrow** as you wish. This field is `protected` now after [v3.3.0-pre.1](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.3.0-pre.1)

[2020-03-27 20:30] #187 closed

[2020-03-27 20:32] enisn commented on #186
@Kevin-Net @Informatheus

I think problem occurs at following line:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/414572c7f9c9dac2e6b43a353706010e4857de7b/InputKit/Shared/Controls/CheckBox.cs#L245

CanExecute is null and default value is false. So, I'm changing default value as true and command will be executed when CanExecute is null.

[2020-03-27 20:42] enisn commented on #186
Commit b9cf892 should solve the problem. Can you check [v3.3.0-pre.2](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.3.0-pre.2) and above.

Feel free to re-open this issue if it doesn't work.

[2020-03-27 20:42] #186 closed

[2020-03-27 20:54] enisn commented on #188
Yeah, The problem occurs when command doesn't have CanExecute method. At the following line, default value is false if CanExecute is null:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/b9cf8924beb5763f8602e07f4277027534409831/InputKit/Shared/Controls/RadioButtonGroupView.cs#L173-L174

I'm making it `true` as default.

[2020-03-27 21:03] enisn commented on #188
@pmahend1

 It should be solved after commit 218c3c0
Can you check [v3.3.0-pre.3](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.3.0-pre.3) or above.

Feel free to re-open this issue if it'll not work.

[2020-03-27 21:24] pmahend1 commented on #188
You mean manually define `CanExecute()?` since `PhoneorEmailSelectionChangedCommand`  is `Command` not ICommand by default its implemented with the action,
I had passed non null `CommandParameter`

[2020-04-03 19:09] pmahend1 opened #189 "RadioButton IsEnabled=false doesnt disable Circle unless clicked"
**Describe the bug**
RadioButton IsEnabled=false should disable checking readiobutton

**To Reproduce**
Steps to reproduce the behavior:
1. Create `RadioButtonGroupView` with 2 radio buttons
1. Set a radiobutton dynamically `IsEnabled=false`
1. Try to click on disabled button

**Expected behavior**
RadioButton circle should be disabled and should not let users click on it
I have changed the textco

[2020-04-07 14:17] enisn commented on #189
Yeah, `IsEnabled` doesn't work correctly.

---
Can you try to set `IsDisabled` as **true** ? It should work.

[2020-04-08 18:25] sylendra7 commented on #151
Hi @enisn any update on this

[2020-04-08 18:47] sylendra7 opened #190 "Adjusting space between checkboxes and Radio Buttons in Selection view"
How to adjusting space between checkboxes and Radio Buttons in Selection view

[2020-04-09 12:21] enisn commented on #190
@sylendra7
Have you tried `ColumnSpacing` and `RowSpacing` property ?
SelectionView inherits theses properties from **Grid**. _([Xamarin.Forms.Grid](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/layouts/grid))_

[code]

[2020-04-13 21:33] #190 closed

[2020-04-13 21:33] #189 closed

[2020-04-29 20:15] pmahend1 commented on #189
I ended up using using both.Thanks

[2020-04-29 20:54] pmahend1 commented on #188
I tried this in latest stable 3.3.0 and 3.3.0-pre3 version. Both do not fire the Command unfortunately.

[2020-05-02 08:06] dsancho opened #191 "Set AdvEntry border color as a property to bind it in Styles"
public static readonly BindableProperty BorderColorProperty = BindableProperty.Create(nameof(BorderColor), typeof(Color), typeof(AdvancedEntry), Color.Default, propertyChanged: (bo, ov, nv) => (bo as AdvancedEntry).BorderColor = (Color)nv);

[2020-05-07 07:11] Haza85 opened #192 "AdvancedEntry cursor position"
Is exist any way to set cursor position in AdvancedEntry?

[2020-05-10 22:28] gdarmon opened #193 "AutoComplete exmample"
**Describe the bug**
A clear and concise description of what the bug is.
in you documentation the autocomplete needs to have SelectedItem property, after installing your lastest package there is only Text property and no SelectedItem, please update your examples.
and the github documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '...

[2020-05-12 07:09] enisn commented on #192
Unfortunately, there is no way to set or get this option. 😕
@Haza85
--
If Xamarin Forms implement that feature, This library can provide it, too

[2020-05-12 07:30] Haza85 commented on #192
Cursor position have Entry in XamarinForms. But AdvancedEntry is not extend Entry control. Sorry, but I not see how could I set position.

[2020-05-12 10:29] enisn commented on #192
I've just moved it into feature development plan. I't willb e developed as soon as possible. @Haza85

[2020-05-12 10:29] #192 closed

[2020-05-12 10:45] Haza85 commented on #192
Thank you

[2020-05-19 04:36] rajagemini opened #194 "AndroidX not supported and show error"
I have upgrade the Xamarin form application to AndroidX and XF4.5. Currently I have XF inputkit 3.3.0. I am getting below compile time error.

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(2,2): Error XA2002: Can not resolve reference: `Xamarin.Android.Support.Design`, referenced by `Plugin.InputKit`. Please add a NuGet package or assembly refere

[2020-05-31 22:45] #193 closed

[2020-05-31 22:46] #163 closed

[2020-06-16 13:24] HelenMamalaki commented on #94
I couldn't get the GlobalSetting to work for me, I need to set it in a Theme Detection class to set colors for Dark mode vs light mode.

[2020-06-17 14:15] lccarvalho commented on #125
When inside a ListView the two way really doesn't seem to work, please see my code below:

[code]

`using System;
using System.Collections.Generic;
using Xamarin.Forms;

namespace TesteBinding
{
    public partial class MainPage : ContentPage
    {
        public IList<Aluno> Alunos { get; set; }
        public MainPage()
        {
            InitializeComponent();
            Alunos = new List<A

[2020-06-17 14:33] lccarvalho commented on #125
Sorry, not using Input Kit, should report this elsewhere

[2020-06-24 08:02] enisn commented on #191
I think this issue is no longer open,

https://github.com/enisn/Xamarin.Forms.InputKit/blob/0a29e0b7ee392ff2b9aa5afef0c2a2f119708e6b/InputKit/Shared/Controls/AdvancedEntry.cs#L421

BindableProperty is exist at latest version

[2020-06-24 08:02] #191 closed

[2020-06-24 10:14] #188 closed

[2020-08-27 10:09] DevonHansen commented on #94
I'm in the same boat as @HelenMamalaki on this. Any work around?

[2020-08-28 14:40] smuuba opened #196 "SelectionView, SelectionType Button, deselect by tapping again"
For the selection type of MultipleButton, it is possible to deselect an option by tapping on it again.  This does not seem to be available for the Button selection type.  Am I missing something?  If it is not there could it be added, or perhaps point me to a way to tie into the tapped event of the buttons in the list?  Thanks

[2020-09-02 11:03] ShamineDsouza opened #197 "App crashes on Input:AdvancedEntry in IOS"
App works perfectly till it encounters a page which has input:advanced entry controls .
It works perfectly in Android .

But the problem is in IOS 13.4

Exception : System.NullReferenceException: Object reference not set to an instance of an object

Thanking in advance

[2020-09-14 18:31] enisn commented on #196
Yeah, it's really necessary feature. I'm putting it to Feature Development board.

[2020-09-14 18:51] enisn commented on #196
@smuuba
As I understand you asked for unselecting a button:
It seems 'SelectionView' already has that feature when you use as MultipleButton option:

![video-1600109003](https://user-images.githubusercontent.com/23705418/93125253-851ca200-f6d3-11ea-8ccc-c22c3c853412.gif)

But there is no option to use that feature in Button type. You can make your custom **SelectionView** and override GetInstance(

[2020-09-14 18:54] enisn commented on #165
I'm not sure what happens with Xamarin Forms 4.3, but it seems this issue is outdated.

[2020-09-14 18:54] #165 closed

[2020-09-16 14:19] smuuba commented on #196
Thanks for your response and suggestion.  I am trying to implement it but I
am getting this:

[image: image.png]

Any thoughts on how I can get around this?

Thanks

On Mon, Sep 14, 2020 at 2:51 PM Enis Necipoglu <notifications@github.com>
wrote:

[2020-09-17 06:05] enisn commented on #196
@smuuba I'm sorry, that was my mistake. SelectableButton was internal and you couldn't use it.

Can you try again after [v3.4.1](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.4.1) update?

[2020-09-18 07:31] arjun-cn opened #199 "Missing of Corner radius and Border color in Selection view"
Its complicated to adjust with UI of the seletion view that due to the lack of corner radius and Border color property .

[2020-09-18 14:10] #196 closed

[2020-09-18 14:19] enisn commented on #199
There isn't any feature something like that,

But you can try create your own SelectionView and override GetInstance method as your wish:

[code]

Then you can use your **MySelectionView** at your XAML pages:

[code]

[2020-09-20 12:11] ShamineDsouza opened #200 "input:AdvancedEntry not rounded off at the edges properly in IOS ."
input:AdvancedEntry Control for entering text  is not rounded off at the edges properly in IOS .
One side remains boxed while the other partially rounded .
Works perfectly in android.
Android :
![IMG_20200920_141637](https://user-images.githubusercontent.com/25946929/93710076-64799f80-fb4c-11ea-8761-a45bf42d0602.jpg)

IOS Not displaying properly
![IMG_20200920_141654](https://user-images.githubuse

[2020-09-21 05:56] enisn commented on #200
Can share device info?
I need to find screen size & OS version

[2020-09-21 06:10] ShamineDsouza commented on #200
iPhone 11 emulator
iOS 13.6

[2020-09-21 06:31] ShamineDsouza commented on #200
Hi, by when can I expect this to be done ? Since we are in a hurry to deploy our app for testing next week and then launch it a week after .Hence the urgency.

[2020-09-22 08:28] enisn commented on #200
@ShamineDsouza
I'm sorry I can't recognize problem, but it seems all about default background colors of some views.
Can you try [v3.4.2-pre.1](https://www.nuget.org/packages/Xamarin.Forms.InputKit/3.4.2-pre.1) ?

[2020-09-22 08:34] enisn commented on #197
I really need more information. Do you have more info about exception? Can you share stacktrace?

[2020-09-22 11:05] ShamineDsouza commented on #200
This is not available on nuget . Latest is 3.4.1

[2020-09-23 05:30] ShamineDsouza commented on #200
Thank you . I was able to implement the prerelease .  And it is fine now the design  . The control appears properly.

However , there is an issue with , text alignment in IOS .
Dropdown text remain left aligned
TextBox remain right aligned , irrespective of language .
It works fine in Android .
Should I raise a another issue request for the same ?

[2020-09-23 05:53] ShamineDsouza commented on #197
I was able to track the issue to AdvancedEntry where we specify the  Icon . I removed all of them . Then it is working fine . In android it doesnt show the icon , but there is no error raised.

[2020-09-23 12:44] ShamineDsouza opened #201 "Advanced Entry Alignment Issue"
There is an issue with , text alignment  inside advanced entry in IOS .
Dropdown text remain left aligned
advanced entry remain right aligned , irrespective of language .
It works fine in Android .

[2020-09-23 20:42] enisn commented on #200
Sorry my late reply, as you said that version was pre-release. If it works properly, I can publish it as a full version.
I'll open a new issue about your last request.

[2020-09-23 20:42] #200 closed

[2020-09-23 20:42] enisn opened #202 "AdvancedEntry IOS Improvements"
Thank you . I was able to implement the prerelease .  And it is fine now the design  . The control appears properly.

Also can  you add a Title Font Size sort of property ,  Because I have increase the text font size of the control, But the label  header font Size remains very small .
Should I raise a another request  feature for the same ?

There is an issue with , text alignment in IOS .
Dropdow

[2020-09-23 20:44] enisn commented on #201
Duplicate of #202

[2020-09-23 20:44] #202 closed

[2020-09-29 11:12] #199 closed

[2020-10-01 08:05] ShamineDsouza commented on #201
HI any updates on the text alignment  in the advanced entry  control ?

[2020-10-08 13:54] acuntex commented on #194
Just a small note: Beginning from November 2nd google will not accept any apps below level 29 (Android 10).

Which means that all users of this library will probably have a hard time.

[2020-10-23 13:25] enisn commented on #194
AndroidX Support is released with #203

[2020-10-23 13:25] #194 closed

[2020-11-11 08:45] SagarPanwala opened #204 "Expose FontFamily property for checkbox in xaml style"
Similar fix to #98 .
This is fixed for RadioButton but not for Checkbox.
I'm on latest stable version 3.4.3

[2020-11-16 02:45] aismaniotto commented on #94
Me too

[2020-11-17 21:47] terabitsoft opened #205 "Multiline Editor - New Feature Request"
Hi,

I must first thank you for this wonderful kit that made my life easier as I am beginner.

I would like to know if Multiline Editor is available or not. If not, then can you please include it in your roadmap.

Highly appreciate your support.

Cheers!

[2020-11-24 14:09] enisn commented on #205
Thank you for your interest. I'm kinda busy nowadays. So I couldn't reply you earlier. As I know Xamarin Forms will have multi-line entry officially. I'll research for it and I can add it as **AdvancedMultiLineEditor**, and most of AdvancedEntry features should be included.

Until I'll work on it, PR is Welcome 😉 🎉

[2020-11-24 16:59] enisn commented on #204
Might be solved with new version [v3.4.4](/enisn/Xamarin.Forms.InputKit/releases/tag/v3.4.4).
---

Feel free to re-open this issue if issue continues.

[2020-11-24 16:59] #204 closed

[2020-11-25 06:39] enisn commented on #134
Duplicated by #204

[2020-11-25 06:39] #134 closed

[2020-11-25 06:41] enisn commented on #121
Latest version targets both monoandroid9.0 and monoandroid10.0 and Xamarin Forms dependency is 4.8.x

I think this issue it outdated.
---
Feel free to re-open this issue is problem continues

[2020-11-25 06:43] #121 closed

[2020-11-25 06:54] enisn commented on #123
On latest version, both monoandroid9.0 and monoandroid10.0 is supported.

I think this issue it outdated now.

---
Feel free to re-open this issue if problem continues.

[2020-11-25 06:54] #123 closed

[2020-12-03 18:33] aismaniotto opened #206 "It's possible unmark a RadioButton inside RadioButtonGroupView?"
## It's possible to unmark a RadioButton inside RadioButtonGroupView?
More specifically unmark when the user clicks twice.

### Also I tried that:
I tried using the events and the command to programmatic know when the second tap happens, but, all the events are triggered after update the value, so, I can't say when is the first time or the second time the user clicks on the radio.

[2020-12-05 10:09] NordicBreezeStudios opened #207 "Dropdown TextColor and Color not working consitently"
Setting the TextColor of the Dropdown only works, when the PlaceholderColor is set to the same value.
It is not possible to set different colors to TextColor and PlaceholderColor .

Setting the Color Property directly in XAML works (it changes the Color of the little triangle icon).
But it can not be set through a style or datatrigger.

Works:
`<inputKit:Dropdown Color="Blue"/>`

Does not Work:
[c

[2020-12-20 19:22] aismaniotto commented on #206
Up

[2021-01-25 10:57] nouraal commented on #114
**Hello**

Thankful and appreciated your hard work.

**To Reproduce:**
- For Dropdown size it's has been fixed for phone screen but not for **big-screen** like tablet the issue still there.

**Screenshots:**

![inptKitError](https://user-images.githubusercontent.com/14325480/105696454-69909600-5f14-11eb-8a06-6944b9a5cfc8.png)

[2021-01-29 00:41] mphill commented on #179
This will crash the app if set like this in the App.xaml

            <Style TargetType="input:CheckBox">
                <Setter Property="IconColor" Value="White" />
             </Style>

With a native crash on iOS:

=================================================================
	Native Crash Reporting
=================================================================
Got a abrt while executi

[2021-03-26 12:25] #114 closed

[2021-04-01 22:00] enisn commented on #179
The PR #208 solved this

[2021-04-01 22:00] #179 closed

[2021-04-01 22:04] #145 closed

[2021-04-02 12:55] #207 closed

[2021-04-06 20:21] enisn opened #212 "MonoAndroid11.0 Support"

[2021-04-06 20:39] enisn commented on #205
Hi @terabitsoft

I'm planning to extract some of core features to [Xamarin.Forms.Plainer](https://github.com/enisn/Xamarin.Forms.Plainer), so you can start to use stable version of [plainer](https://www.nuget.org/packages/Xamarin.Forms.Plainer/) and make your multiline editor with following code block:

`xmlns:plain="clr-namespace:Plugin.Plainer.Shared.Controls;assembly=Plugin.Plainer"`

[code]

-

[2021-04-06 20:44] enisn commented on #180
Those events are inherited from `View` and can't be overriden or invoked. So the PR #213 includes new events & commands implementation which hides base events.

[2021-04-06 20:48] #180 closed

[2021-04-06 21:31] #212 closed

[2021-04-07 21:34] enisn commented on #94
Also, overriding SelectionView is a workaround for now:

[code]

[2021-04-16 09:30] enisn commented on #167
It's all about your Target SDK version for Android.

InputKit currently supports Android 9, 10, and 11.

If you're using a different target framework that InputKit doesn't target, InputKit reference can't be included in your project. So if don't see that method, that means Renderers aren't included in your project, too.

[2021-04-16 09:30] #167 closed

[2021-04-19 05:32] Nambukarthy commented on #140
Any workaround for this ?

[2021-04-22 08:21] gil-rodrigues opened #215 "Compatibility with Xamarin 5"
## Question
Is it possible to use the plugin with Xamarin 5? I tried, but without success.

## What I have tried
I tried to integrate in a new project.
- Opened Visual Studio 2019 and selected blank Xamarin.Forms app;
- Added version 3.7.1 via nuget to common project, android and ios;
- Tried to add the line to Android, but gave me the error:

[code]

Error	CS0234	The type or namespace name 'Platf

[2021-04-22 10:06] enisn commented on #215
Can I ask which Android version do you target?

Latest version supports Android 9, 10 and 11
if you target a different android version, you'll not able to see that method.

[2021-04-22 10:24] gil-rodrigues commented on #215
Hello enisn,

I am targeting Android 11.0 (API Level 30).

We also had a project targeting Android 10.0 with Xamarin 4.8. The method was visible.
When we upgraded to Xamarin 5.0, the method no longer appeared.

Nice work with the kit, by the way.

[2021-04-23 07:24] enisn commented on #215
Thanks for reporting it, I'm working on it

[2021-04-23 07:32] enisn commented on #215
As a workaround, you can downgrade to 3.7.0 for Android project.

I'll release a fix for that ASAP.

[2021-04-23 08:23] enisn commented on #215
The issue is resolved at `v3.7.2`,

There was missing Android 11 compiler directives (https://github.com/enisn/Xamarin.Forms.InputKit/commit/77c084003e3cc956ea0cbc5f58cd7fcfc6d60415)

Feel free to reopen this issue if problem continues

[2021-04-23 08:23] #215 closed

[2021-04-23 08:38] gil-rodrigues commented on #215
@enisn Thank you, you saved my life. I already tested in Android with success.

[2021-04-30 06:40] enisn opened #216 "UWP - IconView Implementation"
https://github.com/enisn/Xamarin.Forms.InputKit/blob/master/InputKit/Platforms/UWP/IconViewRenderer.cs#L17

IconView implementation will solve most of the issues on UWP

[2021-06-14 17:19] joseazr1987 opened #217 "RadioButtonGroupView SelectedItemChanged on iOS don't work"
Hi everyone.

I have a issue on iOS using RadioButton and RadioButtonGroupView.
On my application I need to create dynamic quality polls with questions and options between 1 and 5 as an answers, the questions have category group, so I made this polls from codebehind, on android the radio can be selected without problems, but on iOS don't work.

Here are the code and data that I'm using, the event

[2021-08-06 06:44] logeshpalani33 opened #218 "Is CheckCommandParameter exist, if not please add"
**Is your feature request related to a problem? Please describe.**
I can't find the checkbox CheckCommandParameter in Checkbox control, please add it, if already exist update document

[2021-08-06 07:09] logeshpalani33 opened #219 "Checkbox Material type background always white, how to change that?"
## My Question Here ?
Checkbox Material type background always white, how to change that?

### Also I tried that:
i tried to change BoxBackgroundColor and IconColor, but these two are not working

[code]

[2021-08-06 07:15] enisn commented on #218
You can use `CommandParameter`. It will be sent as parameter to CheckCommand.

---

https://github.com/enisn/Xamarin.Forms.InputKit/blob/af149c3ab9f28a69de6c0e57ef05482411f1cb0a/InputKit/Shared/Controls/CheckBox.cs#L260-L264

[2021-08-06 07:21] enisn commented on #219
Hi @logeshpalani32

With Material type, `Color` property will be used to tint checkbox background when **selected**,
otherwise `Color` property will be used as border color when **unselected**.

Following code produces checkboxes in picture:
[code]

![image](https://user-images.githubusercontent.com/23705418/128472342-473e6cae-8eab-45e6-9d4f-a3f41fd2b5bb.png)

[2021-08-06 07:44] logeshpalani33 opened #220 "Assigning Delegate Command to CheckedChangeCommand Crashing application, "Invalid cast""
**Describe the bug**
Assigning Delegate Command to CheckedChangeCommand Crashing application, "Invalid cast"
**To Reproduce**
Steps to reproduce the behavior:
1. Create new Checkbox
2. Assign Delegate Command from Prism Framework
3. and Run application
4. See application will crash

**Expected behavior**
Should raise the DelegateCommand
**Screenshots**
If applicable, add screenshots to help explai

[2021-08-06 13:11] enisn commented on #220
CheckChangedCommand is type of `ICommand`.

So, CheckChangedCommandProperty casts value to `ICommand` when parameter is set:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/af149c3ab9f28a69de6c0e57ef05482411f1cb0a/InputKit/Shared/Controls/CheckBox.cs#L225

I'm not sure why it doesn't work. I can try to reproduce later.

[2021-08-06 13:14] enisn commented on #220
I've found a note in [prism documentation](https://prismlibrary.com/docs/commanding.html)

If you're using `bool`, you can try to use `bool?`

[2021-08-07 11:46] logeshpalani33 commented on #219
Naming are hard to understand that why i raised this question thanks for immediate response and try to update proper documentation for all types

[2021-08-07 11:46] #219 closed, assigned to nobody

[2021-08-07 11:49] logeshpalani33 commented on #218
yeap, i got it. thanks team

[2021-08-07 11:49] #218 closed, assigned to nobody

[2021-08-07 11:50] logeshpalani33 commented on #220
okey will try and let you know

[2021-08-07 18:27] enisn opened #221 "MAUI Migration"
Make the project compatible with MAUI.

Current version: `6.0.321` _(GA release)_

- [x] IconView
- [x] CheckBox
- [x] StatefulStackLayout Platform Implementation
    - [x] Android
    - [x] iOS
- [x] #226
- [x] #227
- [x] #243
- [x] #228
- [x] ~#229~
- [x] #230
- [x] UWP Support

[2021-08-10 21:45] Ahmd9 opened #222 "AdvancedEntry does not contain a definition for 'SelectionLength'"
## My Question Here ?
'AdvancedEntry' does not contain a definition for 'SelectionLength' and no accessible extension method 'SelectionLength' accepting a first argument of type 'AdvancedEntry' could be found (are you missing a using directive or an assembly reference?)

After unfocus advanceentry, focus on same entry with select all for my barcode scanning project

### Also I tried that:
Advanced

[2021-11-17 04:44] enisn opened #226 "RadioButton Implementation for MAUI"

[2021-11-17 04:44] enisn opened #227 "AdvancedEntry Implementation for MAUI"

[2021-11-17 04:44] enisn opened #228 "AutoCompleteEntry Implementation for MAUI"

[2021-11-17 04:44] enisn opened #229 "Dropdown Implementation for MAUI"

[2021-11-17 04:44] enisn opened #230 "SelectionView Implementation for MAUI"

[2021-12-09 07:53] Vechad opened #231 "CheckChangedCommand event is not called from a Checkbox in a ListView"
Code:
<ListView.ItemTemplate>
  <DataTemplate>
    <ViewCell>
...
        <input:CheckBox IsChecked="{Binding Checked}" CheckChangedCommand="{Binding CheckedChangedCommand}">
        </input:CheckBox>
...
    </ViewCell>
  </DataTemplate>
</ListView.ItemTemplate>

Expected
When checkbox manualy is checked, then the CheckChangedCommand is called.
The problem is that it is in a ListView. Outside the

[2021-12-10 07:43] cjkarande commented on #122
Guys, I am facing the same issue with the latest version 3.7.2 on iOS, though it works fine on Android.

@enisn, any proposed milestone to enable support for HeightRequest for iOS? or if you can please suggest any workaround in the meanwhile...

@vhugogarcia instead of using a separate css file I used inline Style loading (as below) which I presume should have a similar effect, however, it does no

[2021-12-12 22:35] ramu0815 opened #232 "There is no databinding for checkbox in listview header"
Hi,
right now I' strungeling with a Xarmarin project. I have defined a grouped listview in xaml file. Placing the checkbox in the DataTemplate of ListView.GroupHeaderTemplate section there is no binding data aviable at the CheckChanged routine. ob is null!

Moving the checkbox to the   <ListView.ItemTemplate> <DataTemplate> there will be a binding in the routine.

Not quite sure how to use checkbo

[2021-12-16 22:17] ramu0815 opened #233 "Mono.Linker.MarkException: in Release Mode NOT in Debug Mode"
Hello,
I'm wundering about the folloing problem. Devolopment with xarmarin forms 5.0 and Inputkit 3.7.2 in debug mode. When changing to release mode I get the following error??? I'm not quite sure if this is a bug or a configuration problem ?

Schweregrad	Code	Beschreibung	Projekt	Datei	Zeile	Unterdrückungszustand
Fehler		Unerwarteter Fehler bei der LinkAssemblies-Aufgabe.
Mono.Linker.MarkExceptio

[2021-12-17 00:14] ramu0815 commented on #233
Found the solution:
Have to change Android Linker to SDK AND Userassemblys
So its no bug sorry

[2021-12-22 14:01] AhmedAdelGadElkareeem commented on #140
still the same problem @enisn

[2021-12-23 08:31] enisn commented on #140
https://github.com/enisn/Xamarin.Forms.InputKit/blob/rel-3.7/InputKit/Platforms/UWP/IconViewRenderer.cs

IconView implementation doesn't work properly on UWP. It should create an image and tint with given color but it can't do that after a version of UWP but I'm not sure which one it is.

[2022-01-04 03:12] SoureMaster opened #234 "NotSupportedException for FrameRenderer"
Solved. Went with another solution. Thanks.

[2022-01-04 05:04] enisn commented on #234
I need to investigate the problem with the same conditions

[2022-01-04 19:30] SoureMaster commented on #234
Solved. Went with another solution. Thanks.

[2022-01-18 15:14] SoureMaster commented on #234
Any updates?

[2022-03-11 16:06] enisn opened #238 "Implementing EntryView"
AdvancedEntry doesn't seem well without EntryView implementation

![image](https://user-images.githubusercontent.com/23705418/157904158-cfd14117-acc7-48f5-a8f6-2b629c772d4d.png)

[2022-03-11 16:49] #226 closed, assigned to nobody

[2022-03-12 11:02] #227 closed, assigned to nobody

[2022-03-12 11:02] #238 closed, assigned to enisn

[2022-03-12 11:33] enisn opened #243 "AdvancedSlider Imlpementation for MAUI"

[2022-03-12 11:34] #243 closed, assigned to nobody

[2022-03-15 12:25] enisn opened #244 "MAUI - Xamarin Forms separation"

[2022-03-15 23:46] GaborTheHutt opened #245 "Advanced Slider - Can only bind to Value"
**Describe the bug**
I can only bind to the value property.

It would be great if the other propertys would be bindable as well.

[2022-03-16 20:32] GaborTheHutt commented on #245
thx.
Color Property and a Drag Complete and  a DragCompleted Event would be nice too :)

[2022-03-17 10:04] enisn commented on #244
Microsoft supports Xamarin 2 more years, so InputKit should support xamarin forms at least 2 more years. According this purpose,
XF and MAUI packages should be published separately.

To do this, following packages will be available:

- Xamarin.Forms.InputKit - `v4.0.0`
- InputKit.Maui - `v1.0.0` / `v4.0.0` _(Maybe single versionning for entire repository)_

[2022-03-22 20:44] #244 closed, assigned to enisn

[2022-03-22 20:57] enisn opened #248 "Monodroid.12 support for XF"
Xamarin.Forms.InputKit should targets monodroid12

[2022-03-22 20:57] #234 closed, assigned to nobody

[2022-03-22 21:00] enisn commented on #232
I think it's related to Xamarin Forms data binding system. The InputKit Checkbox doesn't do anything special for binding.

If you provide more info like your ViewModel, i can investigate but as I say, there is no special implementation in Checkbox for data binding

[2022-03-22 21:42] enisn commented on #245
I've been working on infrastructural work for supporting both XF and Maui at the same time.  Now there is no a possible way to publish v3.8

I'm moving this issue to v4.0

[2022-05-24 13:19] enisn opened #252 "Update to MAUI 6.0.312"
MAUI GA has been released. Update InputKit to v6.0.312

[2022-05-24 21:09] #252 closed, assigned to enisn

[2022-05-25 20:02] enisn opened #255 "Include TreeView in InputKit for MAUI"
Include this implementation in InputKit for MAUI

https://github.com/enisn/TreeView.Maui

[2022-05-27 07:17] South2AK opened #256 "Checkbox Cross Color / Cross not showing"
Hi,

I´m trying to add a Checkbox via Code Behind.

[code]

![Unbenannt](https://user-images.githubusercontent.com/48831239/170650394-accbc688-c8f8-4ef7-9c2e-aa6b5e4256ae.png)

The other Checkbox Types will just change the border color, but won´t add a Icon / Cross.

Android is being used with dark mode.
Version 4.0.0

[2022-05-27 08:54] cjkarande commented on #122
@enisn, friend any update on this... it's been a long-standing issue...highly appreciate your response on this...

[2022-05-30 08:03] enisn commented on #256
Can you share what is your Xamarin.Forms version?

[2022-05-30 10:40] enisn commented on #256
I see the problem occurs because of embedded resource namespaces. I've fixed it with #257 and I'll release it asap.

[2022-05-30 10:41] #256 closed, assigned to enisn

[2022-05-30 14:52] South2AK commented on #256
Is working now.

Thank you very much.

[2022-05-30 18:10] #245 closed, assigned to nobody

[2022-05-30 19:14] #230 closed, assigned to nobody

[2022-05-30 20:13] enisn commented on #248
Closed with https://github.com/enisn/Xamarin.Forms.InputKit/pull/251

[2022-05-30 20:13] #248 closed, assigned to enisn

[2022-05-30 20:13] #233 closed, assigned to nobody

[2022-05-30 20:16] enisn opened #260 "DataTemplate for SelectionView"
Add `ItemTemplate` property for SelectionView items.

Resolution of:
- [ ] https://github.com/enisn/Xamarin.Forms.InputKit/issues/94

[2022-06-23 15:28] Xevion opened #262 "OldValue & NewValue switched causing 'lagged' item selections"
https://github.com/enisn/Xamarin.Forms.InputKit/blob/a61bcd384d7714f8cd7ee18eea820b08b8452b21/src/Xamarin.Forms.InputKit/Shared/Controls/AutoCompleteEntry.cs#L26

[BindableProperty.BindingPropertyChangedDelegate Delegate](https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.bindableproperty.bindingpropertychangeddelegate?view=xamarin-forms)

You guys have this switched. I found this after tak

[2022-07-01 08:25] greg84 opened #263 "BoxBackgroundColor equivalent for RadioButton?"
With a CheckBox I can set BoxBackgroundColor to change the colour of the background of the box.

Is there a way to do something similar with a RadioButton? I would like to change the colour of the background inside the circle.

[2022-07-09 07:51] sattasundar opened #264 "MAUI: Accepting FontImageSource in InputKit Controls"
Controls need to accept FontImageSource to support FontIcons. This will give more flexibility to developer.

e.g.

           <inputKit:AdvancedEntry BorderColor="{DynamicResource AccentColor}"
                                    BackgroundColor="Transparent"
                                    CornerRadius="10"
                                    Placeholder="Username">
                <inputKit:

[2022-07-13 04:48] enisn commented on #264
This is a good option. This feature is missing because I've just migrated from Xamarin Forms.

We can add it to the MAUI implementation 👍

[2022-07-15 13:57] sattasundar opened #265 "New Control: OTP Code Entry Stepper"
**Suggestion for a new control for OTP entry for .NET MAUI. It will be a very useful control.**

![demo](https://user-images.githubusercontent.com/62828724/179237788-4101f9ad-98f3-4cb7-afdd-50afb153b863.gif)

[2022-08-02 11:08] jqueiroz1 commented on #116
Hi is there a way to prevent it from jumping to the next AdvancedEntry and be able to just close the keyboard?(Using Xamarin forms)

[2022-08-17 21:17] enisn commented on #263
You can set your custom image to achieve that, RadioButton doesn't have that kind of feature at the moment.
[code]

[2022-08-17 21:19] enisn commented on #263
This image is used at the moment:
https://github.com/enisn/Xamarin.Forms.InputKit/blob/develop/src/InputKit.Maui/Shared/Resources/circle.png

I'll convert all the resources to `svg` format soon. After that, it'll be possible to set background color separately

[2022-08-18 13:02] greg84 commented on #263
Thanks @enisn! Not sure why I didn't think of that. Makes perfect sense!

[2022-08-28 13:21] enisn commented on #229
Dropdown support is dropped with #274

[2022-08-28 13:21] #229 closed, assigned to nobody

[2022-08-28 13:22] #221 closed, assigned to enisn

[2022-08-28 13:26] enisn opened #280 "Change repository name to `InputKit` from `Xamarin.Forms.InputKit`"

[2022-08-30 21:38] enisn commented on #140
This issue is closed since v4.0 supports Windows platform

[2022-08-30 21:38] #140 closed

[2022-08-30 21:41] enisn commented on #50
Closing this issue since v4.0 comes with Windows support.

[2022-08-30 21:41] #50 closed

[2022-08-31 08:24] enisn commented on #52
Still continues in Xamarin Forms & MAUI

[2022-08-31 08:27] enisn commented on #115
I can't understand the issue, but
You can use [SelectionView](https://enisn-projects.io/docs/en/inputkit/latest/components/controls/SelectionView) to achieve the same goal with less pain

[2022-08-31 13:33] enisn opened #283 "Tizen Support"

[2022-08-31 15:27] araujoCRS commented on #115
I abandoned all projects in Xamarin and the technology. I can't help with this issue anymore. Sorry.

[2022-08-31 15:27] #115 closed

[2022-09-03 18:53] enisn commented on #216
Isn't required anymore. IconView ill be deprecated and won't be used anymore

[2022-09-03 18:53] #216 closed

[2022-09-06 07:04] enisn commented on #264
After PR #285, FontIcon can be used in version `4.1.0`

4.1 stable hasn't released yet but you can go with `4.1.0-pre.1`

[2022-09-06 07:05] #264 closed, assigned to enisn

[2022-09-08 13:35] #155 closed

[2022-09-08 19:12] enisn opened #296 "CheckBox margings are different for LabelPosition Before & After"
CheckBox has a good margin when LabelPosition is `After`.
But there is noı margin when LabelPosition is `Before`

## Steps to reproduce
- Add following XAML to a page:

[code]

![checkbox-margins](https://user-images.githubusercontent.com/23705418/189206407-c2e71d64-0b81-4427-84c3-563c5f1b6efc.gif)

[2022-09-08 19:34] enisn opened #297 "Support all VisualStates"
CheckBox Disabled style can't be customized since Checkbox doesn't go to `Disabled` Visual State state.

Following style doesn't affect CheckBox's disabled state.
[code]

[2022-09-09 03:06] MickyCik opened #298 "Unexpected Layout on Android Device"
It is my first time working with XF InputKit, I have installed the latest version but i did not get the expected layout as shown in the docs for advancedentry... see the attached screenshot
![Screenshot_20220909-050226](https://user-images.githubusercontent.com/52924459/189263816-a9735fe9-3a40-4955-87b4-6b0b0b5d89cd.png)
any suggest on what can cause this...??

[2022-09-09 06:40] enisn commented on #298
Hi @MickyCik

Can you provide info about which version are you using?

Do you use 4.x or 3.x version?

[2022-09-09 07:28] enisn commented on #298
Grid children's behaviors are slightly different between MAUI and Xamarin Forms.

To it should be fixed on `v4.0.1`, you can upgrade to 4.0.1

[2022-09-09 10:00] enisn commented on #265
Planned for 4.2

[2022-09-16 13:19] enisn opened #303 "Validations"
### Use case
Validations should be separated from control itself.

Expected usage is like below:

[code]

Old `IValidatable` interface will be replaced.

[2022-09-17 18:03] #303 closed, assigned to enisn

[2022-09-17 18:05] enisn opened #312 "AdvancedEntry border is rendered on Windows broken"
Bottom border isn't rendered as expected.
![image](https://user-images.githubusercontent.com/23705418/190870569-53a2dcfa-9db5-4225-82cc-5f799ae804bb.png)

[2022-09-17 19:21] enisn opened #313 "Update to MAUI `6.0.536`"

[2022-09-18 20:12] enisn opened #315 "SelectionView triggers multiple times when selected"
After the selection is changed, `SelectedItem` property is set multiple times by SelectionView.

[2022-09-18 22:01] MickyCik commented on #298
the latest 4.0.0

[2022-09-18 22:02] MickyCik commented on #298
I will try this and get back to you

[2022-09-19 06:54] enisn commented on #298
https://www.nuget.org/packages/Xamarin.Forms.InputKit/4.0.1

[2022-09-28 21:14] shahbaaz90 opened #318 "RadioButton SVG images do not resize when size is changed"
**Describe the bug**
The new SVG images are broken when you try to resize the radio button globally with the following line:

`            Plugin.InputKit.Shared.Controls.RadioButton.GlobalSetting.Size = 14;
`

**To Reproduce**
Steps to reproduce the behavior:
1. resize the radio button globally

**Expected behavior**
the circle inside the image be resized as well

**Screenshots**
![Screenshot 202

[2022-10-20 17:34] kxgonzalez opened #319 "Checkbox rendering wrong size when text is too long"
**Describe the bug**
When having a text that is multiple lines long the height of the checkbox is affected.

**Platforms tested**
- iOS Simulator: iPhone 14 Pro Max (iOS 16.0)
- Android Emulator: Android 13 (API 33)
- Physical device: iPhone 13 (iOS 15.6)
- Physical device: Motorola Edge 20 (Android 12 - API 31)

**To Reproduce**
Steps to reproduce the behavior:
1. Add a checkbox with a basic styl

[2022-10-22 12:21] enisn commented on #319
This issue seems it was started happening after merging #269

[2022-10-22 21:44] #319 closed, assigned to enisn

[2022-10-25 17:46] michaelstonis opened #321 "Consider how you subscribe to events"
**Describe the bug**
For many controls, you are subscribing to events (`+=`) in the constructor using lambdas or without any destructors (`-=`). These event subscriptions are going to make the objects unavailable for garbage collection. In the case where lambdas are being used, those should be replaced with concrete handler methods because lambdas cannot be unsubscribed.

To solve this issue, you

[2022-11-05 19:06] smallcandles opened #322 "CheckChanged event does not fire when Checkbox is in a VerticalStackLayout"
MAUI added both HorizontalStackLayout and VerticalStackLayout controls.  When I place a CheckBox in a VerticalStackLayout, the CheckChanged event does not fire when the checkbox is checked or unchecked.  If I change the stack back to a StackLayout (with orientation of Vertical), it fires as expected.

My XAML is something similar to:

`<VerticalStackLayout Grid.Column="1" Grid.Row="0" HorizontalOp

[2022-11-18 18:42] #321 closed, assigned to nobody

[2022-11-18 18:50] enisn opened #327 "RadioButton custom images aren't centered"
![image](https://user-images.githubusercontent.com/23705418/202780403-1f90c493-3be8-416f-be8c-e78d29b9db50.png)

[2022-11-18 19:14] #327 closed, assigned to nobody

[2022-11-18 19:15] enisn commented on #313
Updated to .NET 7.0

[2022-11-18 19:15] #313 closed, assigned to nobody

[2022-11-18 19:15] #298 closed, assigned to nobody

[2022-11-18 19:28] #296 closed, assigned to nobody

[2022-11-18 19:29] #263 closed, assigned to nobody

[2022-11-18 19:32] enisn commented on #318
That should be fixed with https://github.com/enisn/Xamarin.Forms.InputKit/commit/a9f05e82498275e3685fc612e546f6a0a5c22466

[2022-11-21 12:00] get-flat commented on #97
@enisn could you please verified this fix is present in InputKit.Maui version 4.2.0.
On android (simulator) if ImageSource is not set, the empty space reserved for the icon is still displayed.